@import "tailwindcss/base";
@import "tailwindcss/custom-forms";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    h1 {
        @apply lg:text-2xl text-lg
    }

    h2 {
        @apply lg:text-xl text-base;
    }

    h3 {
        @apply lg:text-lg text-sm;
    }

    /*medium contrast text*/
    .text-3 {
        @apply text-gray-800 dark:text-gray-200;
    }

    /*low contrast text*/
    .text-4 {
        @apply text-gray-700 dark:text-gray-300;
    }

    /*full contrast text*/
    .text-5 {
        @apply text-gray-600 dark:text-gray-400;
    }
}

/* Chrome, Safari and Opera */
#chat-box::-webkit-scrollbar, #content::-webkit-scrollbar, #notification-list::-webkit-scrollbar, .tum-live-side-navigation::-webkit-scrollbar,
#public-courses::-webkit-scrollbar, #user-courses::-webkit-scrollbar{
    display: none;
}

/* IE, Edge and Firefox */
#chat-box, #content, #notification-list, .tum-live-side-navigation, #public-courses, #user-courses {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.tum-live-border {
    @apply dark:border-gray-800
}

#notification-list a{
    @apply underline;
}


/* Background colors */
.tum-live-bg {
    @apply bg-white dark:bg-secondary;
}

.tum-live-bg-primary {
    @apply bg-blue-500 dark:bg-indigo-600 disabled:bg-blue-400/50 disabled:dark:bg-indigo-500/50
}

.tum-live-border-primary {
    @apply border-blue-500 dark:border-indigo-600
}

.tum-live-font-primary {
    @apply text-blue-500 dark:text-indigo-600
}

/* Elements */
.tum-live-button {
    @apply rounded-full px-3 py-1 text-sm font-semibold
}

.tum-live-button-primary {
    @apply text-white tum-live-bg-primary
}

.tum-live-button-secondary {
    @apply text-3 hover:bg-gray-100 dark:hover:bg-gray-800;
}

.tum-live-button-tertiary {
    @apply bg-gray-100 hover:bg-gray-800 hover:text-white dark:bg-gray-800 dark:hover:bg-gray-600
}

.tum-live-button-tertiary > i {
    @apply mr-2;
}

.tum-live-button-tertiary.active {
    @apply bg-gray-800 text-white dark:bg-gray-600
}

.tum-live-icon-button {
    @apply flex justify-center items-center rounded-full text-gray-400 hover:text-gray-600 dark:hover:text-white active:bg-gray-100/50 dark:active:bg-gray-700/50 disabled:opacity-20;
}

.tum-live-input-submit {
    @apply font-semibold rounded;
}

.tum-live-badge {
    @apply rounded-full px-2 py-1
}

.tum-live-badge > i {
    @apply mr-1
}

.tum-live-side-navigation {
    @apply flex-col sticky top-0 overflow-y-scroll font-light text-3 shrink-0
}

.tum-live-side-navigation-group {
    @apply mx-5 grid py-4 content-baseline
}

/* not:last-two-children */
.tum-live-side-navigation-group:not(:nth-last-child(-n + 2)){
    @apply border-b dark:border-gray-800
}

.tum-live-side-navigation-group > header {
    @apply flex items-center px-3 pb-2 font-semibold
}

.tum-live-side-navigation-group > header > i {
    @apply text-xs mr-2
}

.tum-live-side-navigation-group-item {
    @apply text-sm rounded-lg text-left px-3 py-2
}

.tum-live-side-navigation-group-item.hover {
    @apply hover:bg-gray-100 dark:hover:bg-gray-800 hover:cursor-pointer
}

.tum-live-side-navigation-group-item > i {
    @apply text-xs mr-2
}

.tum-live-thumbnail {
    @apply relative bg-gray-100 dark:bg-gray-800 rounded-lg mb-2 bg-cover transition-all duration-500 dark:shadow-gray-900/75;
}

.tum-live-thumbnail.hover{
    @apply hover:shadow-xl;
}

.tum-live-thumbnail-progress {
    @apply absolute bottom-0 w-full
}

.tum-live-thumbnail-progress > div {
    @apply relative w-full h-2 bg-gray-500/50 rounded-b-lg
}

.tum-live-thumbnail-progress > div > span {
    @apply absolute left-0 tum-live-bg-primary h-2 rounded-bl-lg
}

.tum-live-content-grid {
    @apply grid gap-y-8 pb-4 h-full
}

.tum-live-content-grid-item > h3 {
    @apply font-bold px-3
}

.tum-live-stream .course {
    @apply text-5 hover:bg-gray-50 dark:hover:bg-gray-800 rounded-lg py-1 break-words leading-relaxed hover:cursor-pointer
}

.tum-live-stream .title {
    @apply block font-medium hover:underline
}

.tum-live-stream .date, .tum-live-stream-row .date {
    @apply flex items-center font-light mt-1 inline;
}

.tum-live-stream .description, .tum-live-stream-row .description {
    @apply flex items-center;
}

.tum-live-stream-row {
    @apply flex flex-col md:px-0 md:items-center md:flex-row
}

.tum-live-stream-row:not(:last-child) {
    @apply mb-2;
}

.tum-live-stream-row .title {
    @apply block font-semibold hover:underline mt-3 md:mt-0
}

.tum-live-menu {
    @apply tum-live-bg shadow-lg rounded-lg h-fit border dark:border-gray-800 text-sm text-3 dark:shadow-gray-900/75
}


.tum-live-menu > header {
    @apply py-2 px-4 border-b dark:border-gray-800
}

.tum-live-menu > header:has(.close) {
    @apply flex justify-between items-center
}

.tum-live-menu > header .close {
    @apply ml-auto
}

.tum-live-menu .tum-live-menu-item {
    @apply flex items-center p-2 hover:bg-gray-100 dark:hover:bg-gray-800 my-2 w-full
}

.tum-live-menu .tum-live-menu-item.active {
    @apply bg-gray-100 dark:bg-gray-800
}


.tum-live-course-list > header {
    @apply flex items-center justify-between mb-8
}

.tum-live-course-list > header > h1 {
    @apply flex items-center font-bold px-3
}

.tum-live-course-list > header > button {
    @apply tum-live-button tum-live-button-secondary
}

.tum-live-course-list-item {
    @apply hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg px-3 py-2
}

.tum-live-course-list-item .title {
    @apply block text-3 lg:text-base text-sm font-semibold hover:underline hover:cursor-pointer
}

.tum-live-course-list-item .links {
    @apply flex flex-col text-sm text-5 font-light lg:flex-row lg:items-center
}

.tum-live-course-list-item .links > *:not(:first-child) {
    @apply pt-1 lg:pt-0 lg:pl-2
}

.tum-live-notification {
    @apply rounded-lg py-1 px-3 text-sm text-4 border
}

.tum-live-notification > .icon {
    @apply mr-2
}

.tum-live-notification-info {
    @apply bg-blue-100/50 border-blue-500/25 dark:bg-indigo-500/25 dark:border-indigo-600/50
}

.tum-live-notification-warn {
    @apply bg-amber-200/25 border-amber-300/50 dark:bg-amber-400/25 dark:border-amber-500/50
}

.tum-live-notification-warn > .icon {
    @apply text-amber-500/75 dark:text-amber-200/75
}


.tum-live-notification-info > .icon {
    @apply text-blue-500/75 dark:text-indigo-600/75
}


.tum-live-calendar {
    @apply bg-white flex flex-col rounded-lg shadow-sm w-24 h-24 border dark:border-0
}

.tum-live-calendar > .month {
    @apply flex justify-center bg-red-500 rounded-t-lg font-semibold text-white
}

.tum-live-calendar > .day {
    @apply flex flex-col flex-grow items-center justify-center text-black font-bold text-2xl
}

.tum-live-calendar > .time {
    @apply py-1 text-center text-xs border-t text-black
}


.tum-live-course-view {
    @apply pb-5
}

.tum-live-course-view > header {
    @apply grid gap-2 text-center mb-8
}

.tum-live-course-view > header .year {
    @apply font-semibold uppercase text-5 mb-0
}

.tum-live-course-view > header .name {
    @apply font-bold
}

.tum-live-course-view > header .button-area {
    @apply flex justify-center items-center space-x-4
}


.tum-live-course-view-item {
    @apply py-4
}

.tum-live-course-view-item:not(:last-child){
    @apply border-b dark:border-gray-800
}

.tum-live-course-view-item > header {
    @apply flex flex-col items-center mb-3 md:flex-row;
}

.tum-live-course-view-item > header > h3 {
    @apply font-bold mb-2 md:mb-0 md:mr-2
}


.tum-live-planned-list > .month {
    @apply bg-gray-100 rounded px-2 text-sm font-light mb-2 dark:bg-gray-800
}

.tum-live-planned-list > .tum-live-planned-list-group {
    @apply grid gap-5
}

.tum-live-planned-list > .tum-live-planned-list-group > .tum-live-planned-list-group-item{
    @apply py-1
}

.tum-live-planned-list > .tum-live-planned-list-group > .tum-live-planned-list-group-item .name{
    @apply font-semibold mb-0
}

.tum-live-planned-list > .tum-live-planned-list-group > .tum-live-planned-list-group-item .date{
    @apply text-xs text-5
}

.tum-live-input {
    @apply w-full h-12 px-3 bg-gray-50 dark:bg-gray-600 dark:text-white rounded shadow-sm outline-0 border-0;
}

.tum-live-input:focus{
    @apply outline-2 outline-blue-500 dark:outline-indigo-600 border-0;
}

label:has(~ .tum-live-input) {
    @apply text-sm text-5 font-light mb-2;
}


.tum-live-upcoming {
    @apply grid gap-y-3
}

.tum-live-upcoming .tum-live-upcoming-item {
    @apply text-sm rounded-lg bg-amber-500/25 border-l-4 px-3 py-2 border-amber-500
}


.tum-live-footer {
    @apply bg-gray-100 dark:bg-secondary-light py-4 px-8;
}

.tum-live-footer a {
    @apply text-sm font-light text-5 md:py-0 py-1
}
