@import "tailwindcss/base";
@import "tailwindcss/custom-forms";

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }
}
input, textarea {
    @apply focus:outline-none focus:border-gray-300 p-3 font-medium w-full bg-transparent border-b-2 border-gray-500 text-white;
}

.btn {
    @apply flex-1 bg-gray-800 text-white w-full p-3 text-center text-sm cursor-pointer hover:bg-primary;

}

.container {
    @apply mt-24;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.video-js .vjs-control-bar {
    background-color: rgba(255, 255, 255, 0) !important;
}

.video-js .vjs-play-progress {
    background-color: #3070b3 !important;
}

/* slider for cutting videos: */

.noUi-horizontal {
    height: 5px;
}

/* Chat */
input[type='checkbox']:checked + label {
    color: #3070b3;
}

@media (min-width: 768px) {
    .chat {
        max-height: calc(100vh - 5rem);
    }
}

.chat, .watchContent {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: 3px; /* Firefox */
    max-height: calc(100vh - 5rem);
}

/* Hide scrollbar for Chrome, Safari and Opera */
#chatBox::-webkit-scrollbar {
    width: 6px;
}

#chatBox::-webkit-scrollbar-track {
    background: #0d1117;
}

#chatBox::-webkit-scrollbar-thumb {
    background: #5b5b5b;
}

.watchContent::-webkit-scrollbar {
    display: none;
}

/* firefox */
.watchContent {
    scrollbar-width: none;
}

#chatBox{
    scrollbar-width: 6px;
    scrollbar-color: #5b5b5b #0d1117;
}

.vjs-button, .vjs-control {
    -webkit-text-stroke: 0.2px black;
}