@import "tailwindcss/base";
@import "tailwindcss/custom-forms";

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    .dark .scrollbarThin::-webkit-scrollbar-track {
        background: #0d1117 !important;
    }

    .scrollbarThin::-webkit-scrollbar-track {
        background: #cbcbcb;
    }

    .dark .scrollbarThin::-webkit-scrollbar-thumb {
        background: #5b5b5b;
    }

    .scrollbarThin::-webkit-scrollbar-thumb {
        background: #fff;
    }

    .scrollbarThin {
        scrollbar-height: 3px;
        scrollbar-width: 3px;
        scrollbar-color: #fff #ddd;
        margin-bottom: 9px;
    }

    .dark .scrollbarThin {
        scrollbar-color: #5b5b5b #0d1117 !important;
    }

    .scrollbarThin::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    /*full contrast text*/
    .text-1 {
        @apply text-black dark:text-white;
    }

    /*high contrast text*/
    .text-2 {
        @apply text-gray-900 dark:text-gray-100;
    }

    /*medium contrast text*/
    .text-3 {
        @apply text-gray-800 dark:text-gray-200;
    }

    /*low contrast text*/
    .text-4 {
        @apply text-gray-700 dark:text-gray-300;
    }

    /*full contrast text*/
    .text-5 {
        @apply text-gray-600 dark:text-gray-400;
    }

    /*full contrast text*/
    .text-6 {
        @apply text-gray-500 dark:text-gray-500;
    }

    /*full contrast text*/
    .text-7 {
        @apply text-gray-400 dark:text-gray-600;
    }

    .text-8 {
        @apply text-gray-300 dark:text-gray-700;
    }

    .text-9 {
        @apply text-gray-200 dark:text-gray-800;
    }

    a {
        @apply hover:text-black dark:hover:text-white;
    }

    body {
        @apply bg-gray-50 dark:bg-primary;
    }

    .video-description a {
        @apply text-gray-500 dark:hover:text-white hover:text-black hover:underline;
    }

    .btn {
        @apply flex-1 dark:bg-gray-800 dark:hover:bg-primary dark:text-white w-full p-3 text-center text-sm cursor-pointer shadow bg-white hover:bg-gray-100;
    }

    .btn:disabled {
        @apply dark:text-gray-400 dark:hover:bg-gray-600 dark:bg-gray-600 text-gray-500 hover:bg-gray-200 bg-gray-200;
    }
}

:root {
    --chat-height: calc(100vh - 5rem);
}

input, textarea {
    @apply focus:outline-none focus:border-gray-300 p-3 font-medium w-full bg-transparent border-b-2 border-gray-500 dark:text-white text-primary;
}

.container {
    @apply mt-4;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.video-js .vjs-control-bar {
    background: linear-gradient(0deg, rgba(0, 0, 0, .25) 20%, transparent) !important;
}

.video-js .vjs-play-progress {
    background-color: #3070b3 !important;
}

/* slider for cutting videos: */
.noUi-target {
    background: #1f2937 !important;
    border: none !important;
    box-shadow: none !important;
}

.noUi-connect {
    background: #3070b3 !important;
}

.noUi-tooltip input {
    width: 120px;
    text-align: center;
    @apply focus:text-white;
}

.noUi-tooltip {
    padding: 0 !important;
}

/* Chat */
input[type='checkbox']:checked + label {
    color: #3070b3;
}

@media (min-width: 768px) {
    .chat {
        max-height: var(--chat-height);
    }
}

.chat, .watchContent {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: 3px; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#chatBox::-webkit-scrollbar {
    width: 6px;
}

#chatBox::-webkit-scrollbar-track {
    background: #0d1117;
}

#chatBox::-webkit-scrollbar-thumb {
    background: #5b5b5b;
}

#chatWrapper, #watchWrapper, #watchPageMainWrapper {
    height: var(--chat-height);
}

#chatBox {
    scrollbar-width: 6px;
    scrollbar-color: #5b5b5b #0d1117;
}

.vjs-button, .vjs-control {
    color: #fff !important;
}

.fancyeye {
    font-family: TUM-Live;
    font-weight: normal;
    font-style: normal;
}

.fancyeye:before {
    content: "\f11f";
}

.fancyeye:hover:before {
    content: "\f120";
}

.dark #calendar {
    color: #fff !important;
}

.dark #calendar table, .dark #calendar td, .dark .fc-theme-standard td, .dark .fc-theme-standard th, .dark .fc-col-header-cell {
    border-color: #474747 !important;
}

.dark .fc-scroller {
    margin-bottom: 0 !important;
}

.fc-v-event {
    background-color: #3070b3 !important;
}

.fc-timegrid-event {
    box-shadow: 0 0 0 1px #ffffff60 !important;
}

.theater-mode {
    height: calc((9 / 16) * 100vw) !important;
    max-height: calc(100vh - 169px) !important;
}

/* don't ask */
button.vjs-skip-silence-control {
    font-size: 3em !important;
    line-height: 1.5em !important;
    height: 1.63332em !important;
    width: 3em !important;
    position: absolute !important;
    bottom: 30px !important;
    right: 10px !important;
    cursor: pointer;
    border: .06666em solid #fff !important;
    background-color: #2b333f !important;
    background-color: rgba(43, 51, 63, .7) !important;
    border-radius: .3em !important;
}

.vjs-skip-silence-control > span:before {
    font-size: 1em !important;
    line-height: 1.5em !important;
}

a.fc-event, a.fc-event:hover {
    cursor: pointer;
}

[x-cloak] {
    display: none !important;
}
