@import "tailwindcss/base";
@import "tailwindcss/custom-forms";

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }
}
input, textarea {
    @apply focus:outline-none focus:border-gray-300 p-3 font-medium w-full bg-transparent border-b-2 border-gray-500 text-white;
}

.btn {
    @apply flex-1 bg-gray-800 text-white w-full p-3 text-center text-sm cursor-pointer hover:bg-primary;
}

.container {
    @apply mt-4;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.video-js .vjs-control-bar {
    background: linear-gradient(0deg, rgba(0, 0, 0, .25) 20%, transparent) !important;
}

.video-js .vjs-play-progress {
    background-color: #3070b3 !important;
}

/* slider for cutting videos: */
.noUi-target {
    background: #1f2937 !important;
    border: none !important;
    box-shadow: none !important;
}

.noUi-connect {
    background: #3070b3 !important;
}

.noUi-tooltip input {
    width: 120px;
    text-align: center;
    @apply focus:text-white;
}

.noUi-tooltip {
    padding: 0 !important;
}

/* Chat */
input[type='checkbox']:checked + label {
    color: #3070b3;
}

@media (min-width: 768px) {
    .chat {
        max-height: calc(100vh - 5rem);
    }
}

.chat, .watchContent {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: 3px; /* Firefox */
    max-height: calc(100vh - 5rem);
}

/* Hide scrollbar for Chrome, Safari and Opera */
#chatBox::-webkit-scrollbar {
    width: 6px;
}

#chatBox::-webkit-scrollbar-track {
    background: #0d1117;
}

#chatBox::-webkit-scrollbar-thumb {
    background: #5b5b5b;
}

.scrollbarThin:hover::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}

.scrollbarThin::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.scrollbarThin::-webkit-scrollbar-track {
    background: #0d1117;
}

.scrollbarThin::-webkit-scrollbar-thumb {
    background: #5b5b5b;
}

.scrollbarThin {
    scrollbar-height: 3px;
    scrollbar-width: 3px;
    scrollbar-color: #5b5b5b #0d1117;
    margin-bottom: 9px;
}

.scrollbarThin:hover {
    margin-bottom: 0;
}

.watchContent::-webkit-scrollbar {
    display: none;
}

/* firefox */
.watchContent {
    scrollbar-width: none;
}

#chatBox {
    scrollbar-width: 6px;
    scrollbar-color: #5b5b5b #0d1117;
}

.vjs-button, .vjs-control {
    color: #fff !important;
}

.video-description a {
    @apply text-gray-300 hover:text-white hover:underline;
}

.fancyeye {
    font-family: TUM-Live;
    font-weight: normal;
    font-style: normal;
}

.fancyeye:before {
    content: "\f11f";
}

.fancyeye:hover:before {
    content: "\f120";
}

#calendar {
    @apply text-white;
}

#calendar table, #calendar td, .fc-theme-standard td, .fc-theme-standard th, .fc-col-header-cell {
    border-color: #474747 !important;
}

.fc-scroller {
    @apply scrollbarThin;
    margin-bottom: 0!important;
}

.fc-v-event {
    background-color: #3070b3 !important;
}

.fc-timegrid-event {
    box-shadow: 0 0 0 1px #ffffff60 !important;
}

.theater-mode {
    height: calc((9 / 16) * 100vw) !important;
    max-height: calc(100vh - 169px) !important;
}

/* don't ask */
button.vjs-skip-silence-control {
    font-size: 3em !important;
    line-height: 1.5em !important;
    height: 1.63332em !important;
    width: 3em !important;
    position: absolute !important;
    bottom: 30px !important;
    right: 10px !important;
    cursor: pointer;
    border: .06666em solid #fff !important;
    background-color: #2b333f !important;
    background-color: rgba(43, 51, 63, .7) !important;
    border-radius: .3em !important;
}

.vjs-skip-silence-control > span:before {
    font-size: 1em !important;
    line-height: 1.5em !important;
}

a.fc-event, a.fc-event:hover {
    cursor: pointer;
}