.playlist-thumbnail {
    @apply relative bg-gray-100 dark:bg-gray-800 rounded-lg mr-4 bg-cover transition-all duration-500 hover:shadow-xl dark:shadow-gray-900/75;
}

/* Rendered, but not visible on the screen. Enables layout calculations. */
.offscreen {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 100%;
    height: auto;
    overflow: visible;
}