.playlist-thumbnail {
    @apply relative bg-gray-100 dark:bg-gray-800 rounded-lg mr-4 bg-cover transition-all duration-500 hover:shadow-xl dark:shadow-gray-900/75;
}

/* Rendered, but not visible on the screen. Enables layout calculations. */
.offscreen {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 100%;
    height: auto;
    overflow: visible;
}

.pulsing-circle {
    width: 2ch;
    height: 2ch;
    border-radius: 50%;
    background-color: red;
    animation: pulse 2s infinite;
    margin-left: .2ch;
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}