[Unit]
Description=TUM-Live
After=network.target
Requires=mariadb.service

[Service]
LimitNOFILE=1048576:2097152
EnvironmentFile=/path/to/your/variables-backend.env
Type=simple
ExecStart=/bin/tum-live
TimeoutStopSec=5
KillMode=mixed
Restart=on-failure
StandardOutput=append:/var/log/tum-live/logs.log
StandardError=append:/var/log/tum-live/error.log

[Install]
WantedBy=multi-user.target
