[Unit]
Description=TUM-Live
After=network.target
Requires=mariadb.service

[Service]
EnvironmentFile=/path/to/your/variables-backend.env
EnvironmentFile=/path/to/your/hash.env
Type=forking
ExecStart=/usr/sbin/nginx -g 'daemon on; master_process on;'
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
