/*
course (Courses)

The Course API provides information about courses.

API version: 5.15.0-SNAPSHOT-0f2d6c9
Contact: campusonline@tugraz.at
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package campusonline

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


type CourseRegistrationServiceAPI interface {

	/*
	CourseRegistrationRestServiceGetCourseRegistration Returns the specified course registration. With the QueryParameter expand=personClaims and for example claim=co-claim-name, you can expand theCourseRegistration Resource with the personClaims

	Scopes: [co-agent.read, co-course-registration.read]

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uid The unique ID (UID) of the course registration.
	@return ApiCourseRegistrationRestServiceGetCourseRegistrationRequest
	*/
	CourseRegistrationRestServiceGetCourseRegistration(ctx context.Context, uid string) ApiCourseRegistrationRestServiceGetCourseRegistrationRequest

	// CourseRegistrationRestServiceGetCourseRegistrationExecute executes the request
	//  @return CourseRegistrationResource
	CourseRegistrationRestServiceGetCourseRegistrationExecute(r ApiCourseRegistrationRestServiceGetCourseRegistrationRequest) (*CourseRegistrationResource, *http.Response, error)

	/*
	CourseRegistrationRestServiceGetCourseRegistrations Returns all registrations for the specified courses. Only confirmed registrations will be provided

	Scopes: [co-agent.read, co-course-registration.read]

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest
	*/
	CourseRegistrationRestServiceGetCourseRegistrations(ctx context.Context) ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest

	// CourseRegistrationRestServiceGetCourseRegistrationsExecute executes the request
	//  @return CourseRegistrationListResource
	CourseRegistrationRestServiceGetCourseRegistrationsExecute(r ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest) (*CourseRegistrationListResource, *http.Response, error)

	/*
	CourseRegistrationRestServiceGetModifiedCourseRegistrations Returns all modified course registrations since the given date. Modifications can only be provided for the last 7 Days.

	Scopes: [co-agent.read, co-course-registration.read]

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest
	*/
	CourseRegistrationRestServiceGetModifiedCourseRegistrations(ctx context.Context) ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest

	// CourseRegistrationRestServiceGetModifiedCourseRegistrationsExecute executes the request
	//  @return ModificationPageResource
	CourseRegistrationRestServiceGetModifiedCourseRegistrationsExecute(r ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest) (*ModificationPageResource, *http.Response, error)
}

// CourseRegistrationServiceAPIService CourseRegistrationServiceAPI service
type CourseRegistrationServiceAPIService service

type ApiCourseRegistrationRestServiceGetCourseRegistrationRequest struct {
	ctx context.Context
	ApiService CourseRegistrationServiceAPI
	uid string
	claim *[]SelectableClaim
	expand *string
}

// a list of claims which should be embedded; for all claims the necessary scope must be provided
func (r ApiCourseRegistrationRestServiceGetCourseRegistrationRequest) Claim(claim []SelectableClaim) ApiCourseRegistrationRestServiceGetCourseRegistrationRequest {
	r.claim = &claim
	return r
}

// with &#x60;expand&#x3D;personClaims&#x60; you can expand the CourseRegistrationResource with personClaims
func (r ApiCourseRegistrationRestServiceGetCourseRegistrationRequest) Expand(expand string) ApiCourseRegistrationRestServiceGetCourseRegistrationRequest {
	r.expand = &expand
	return r
}

func (r ApiCourseRegistrationRestServiceGetCourseRegistrationRequest) Execute() (*CourseRegistrationResource, *http.Response, error) {
	return r.ApiService.CourseRegistrationRestServiceGetCourseRegistrationExecute(r)
}

/*
CourseRegistrationRestServiceGetCourseRegistration Returns the specified course registration. With the QueryParameter expand=personClaims and for example claim=co-claim-name, you can expand theCourseRegistration Resource with the personClaims

Scopes: [co-agent.read, co-course-registration.read]

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param uid The unique ID (UID) of the course registration.
 @return ApiCourseRegistrationRestServiceGetCourseRegistrationRequest
*/
func (a *CourseRegistrationServiceAPIService) CourseRegistrationRestServiceGetCourseRegistration(ctx context.Context, uid string) ApiCourseRegistrationRestServiceGetCourseRegistrationRequest {
	return ApiCourseRegistrationRestServiceGetCourseRegistrationRequest{
		ApiService: a,
		ctx: ctx,
		uid: uid,
	}
}

// Execute executes the request
//  @return CourseRegistrationResource
func (a *CourseRegistrationServiceAPIService) CourseRegistrationRestServiceGetCourseRegistrationExecute(r ApiCourseRegistrationRestServiceGetCourseRegistrationRequest) (*CourseRegistrationResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CourseRegistrationResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CourseRegistrationServiceAPIService.CourseRegistrationRestServiceGetCourseRegistration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/registrations/{uid}"
	localVarPath = strings.Replace(localVarPath, "{"+"uid"+"}", url.PathEscape(parameterValueToString(r.uid, "uid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.claim != nil {
		t := *r.claim
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "claim", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "claim", t, "form", "multi")
		}
	}
	if r.expand != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expand", r.expand, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResource
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResource
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest struct {
	ctx context.Context
	ApiService CourseRegistrationServiceAPI
	courseUid *[]string
	claim *[]SelectableClaim
	context *string
	expand *string
}

// The List of course UIDs for which the registrations should be requested
func (r ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest) CourseUid(courseUid []string) ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest {
	r.courseUid = &courseUid
	return r
}

// a list of claims which should be embedded; for all claims the necessary scope must be provided
func (r ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest) Claim(claim []SelectableClaim) ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest {
	r.claim = &claim
	return r
}

// a context which can be used only for agent calls, and only support organisation contexts; context&#x3D;org-1234
func (r ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest) Context(context string) ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest {
	r.context = &context
	return r
}

// with &#x60;expand&#x3D;personClaims&#x60; you can expand the CourseRegistrationResource with personClaims
func (r ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest) Expand(expand string) ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest {
	r.expand = &expand
	return r
}

func (r ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest) Execute() (*CourseRegistrationListResource, *http.Response, error) {
	return r.ApiService.CourseRegistrationRestServiceGetCourseRegistrationsExecute(r)
}

/*
CourseRegistrationRestServiceGetCourseRegistrations Returns all registrations for the specified courses. Only confirmed registrations will be provided

Scopes: [co-agent.read, co-course-registration.read]

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest
*/
func (a *CourseRegistrationServiceAPIService) CourseRegistrationRestServiceGetCourseRegistrations(ctx context.Context) ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest {
	return ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CourseRegistrationListResource
func (a *CourseRegistrationServiceAPIService) CourseRegistrationRestServiceGetCourseRegistrationsExecute(r ApiCourseRegistrationRestServiceGetCourseRegistrationsRequest) (*CourseRegistrationListResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CourseRegistrationListResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CourseRegistrationServiceAPIService.CourseRegistrationRestServiceGetCourseRegistrations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/registrations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.courseUid == nil {
		return localVarReturnValue, nil, reportError("courseUid is required and must be specified")
	}

	if r.claim != nil {
		t := *r.claim
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "claim", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "claim", t, "form", "multi")
		}
	}
	if r.context != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context", r.context, "form", "")
	}
	{
		t := *r.courseUid
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "course_uid", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "course_uid", t, "form", "multi")
		}
	}
	if r.expand != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expand", r.expand, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest struct {
	ctx context.Context
	ApiService CourseRegistrationServiceAPI
	since *string
	context *string
	courseUid *string
	cursor *string
	limit *int32
	onlyElearningCourses *bool
	semesterKey *string
}

// Date for which the modifications will be requested
func (r ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest) Since(since string) ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest {
	r.since = &since
	return r
}

// a context which can be used only for agent calls, and only support organisation contexts; context&#x3D;org-1234
func (r ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest) Context(context string) ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest {
	r.context = &context
	return r
}

// If a courseUid is provided, only modifications for the given course will be provided
func (r ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest) CourseUid(courseUid string) ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest {
	r.courseUid = &courseUid
	return r
}

// Kennzeichnung in der Response, dass es noch weitere Einträge gibt, die abgerufen werden können. (Entspricht der \&quot;Page\&quot;)
func (r ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest) Cursor(cursor string) ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest {
	r.cursor = &cursor
	return r
}

// Anzahl der zurückgelieferten Einträge je Page
func (r ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest) Limit(limit int32) ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest {
	r.limit = &limit
	return r
}

// if true: only courses which has a associated elearningEventTypeUid will be provided, &lt;/br&gt;if false: only courses which has not set a elearningEventTypeUid will be provided, &lt;/br&gt;if null or not set, all courses will be provided whether they have a associated elearningEventTypeUid or not 
func (r ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest) OnlyElearningCourses(onlyElearningCourses bool) ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest {
	r.onlyElearningCourses = &onlyElearningCourses
	return r
}

// If a semesterKey is provided, only modifications for courses that takes place in the specified semester will be provided
func (r ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest) SemesterKey(semesterKey string) ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest {
	r.semesterKey = &semesterKey
	return r
}

func (r ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest) Execute() (*ModificationPageResource, *http.Response, error) {
	return r.ApiService.CourseRegistrationRestServiceGetModifiedCourseRegistrationsExecute(r)
}

/*
CourseRegistrationRestServiceGetModifiedCourseRegistrations Returns all modified course registrations since the given date. Modifications can only be provided for the last 7 Days.

Scopes: [co-agent.read, co-course-registration.read]

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest
*/
func (a *CourseRegistrationServiceAPIService) CourseRegistrationRestServiceGetModifiedCourseRegistrations(ctx context.Context) ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest {
	return ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ModificationPageResource
func (a *CourseRegistrationServiceAPIService) CourseRegistrationRestServiceGetModifiedCourseRegistrationsExecute(r ApiCourseRegistrationRestServiceGetModifiedCourseRegistrationsRequest) (*ModificationPageResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ModificationPageResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CourseRegistrationServiceAPIService.CourseRegistrationRestServiceGetModifiedCourseRegistrations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/registrations/modifications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.since == nil {
		return localVarReturnValue, nil, reportError("since is required and must be specified")
	}

	if r.context != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "context", r.context, "form", "")
	}
	if r.courseUid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "course_uid", r.courseUid, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.onlyElearningCourses != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "only_elearning_courses", r.onlyElearningCourses, "form", "")
	}
	if r.semesterKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "semester_key", r.semesterKey, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
