/*
course (Courses)

The Course API provides information about courses.

API version: 5.15.0-SNAPSHOT-0f2d6c9
Contact: campusonline@tugraz.at
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package campusonline

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type CourseTypeServiceAPI interface {

	/*
	CourseTypeRestServiceFindAllCourseTypes Returns a list of all existing course types

	Scopes: [co-course.read]

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCourseTypeRestServiceFindAllCourseTypesRequest
	*/
	CourseTypeRestServiceFindAllCourseTypes(ctx context.Context) ApiCourseTypeRestServiceFindAllCourseTypesRequest

	// CourseTypeRestServiceFindAllCourseTypesExecute executes the request
	//  @return CourseTypeListResource
	CourseTypeRestServiceFindAllCourseTypesExecute(r ApiCourseTypeRestServiceFindAllCourseTypesRequest) (*CourseTypeListResource, *http.Response, error)

	/*
	CourseTypeRestServiceGetCourseTypeByKey Returns the course type of the specified key. If there a multiple curse types with the same key (which is not recommended), then we first sort by active and than by uid.so the active course type with the highest id or if no course type with the given key is active, than the course typewith the highest id will be returned

	Scopes: [co-course.read]

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param key The key of the course type.
	@return ApiCourseTypeRestServiceGetCourseTypeByKeyRequest
	*/
	CourseTypeRestServiceGetCourseTypeByKey(ctx context.Context, key string) ApiCourseTypeRestServiceGetCourseTypeByKeyRequest

	// CourseTypeRestServiceGetCourseTypeByKeyExecute executes the request
	//  @return CourseTypeResource
	CourseTypeRestServiceGetCourseTypeByKeyExecute(r ApiCourseTypeRestServiceGetCourseTypeByKeyRequest) (*CourseTypeResource, *http.Response, error)
}

// CourseTypeServiceAPIService CourseTypeServiceAPI service
type CourseTypeServiceAPIService service

type ApiCourseTypeRestServiceFindAllCourseTypesRequest struct {
	ctx context.Context
	ApiService CourseTypeServiceAPI
}

func (r ApiCourseTypeRestServiceFindAllCourseTypesRequest) Execute() (*CourseTypeListResource, *http.Response, error) {
	return r.ApiService.CourseTypeRestServiceFindAllCourseTypesExecute(r)
}

/*
CourseTypeRestServiceFindAllCourseTypes Returns a list of all existing course types

Scopes: [co-course.read]

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCourseTypeRestServiceFindAllCourseTypesRequest
*/
func (a *CourseTypeServiceAPIService) CourseTypeRestServiceFindAllCourseTypes(ctx context.Context) ApiCourseTypeRestServiceFindAllCourseTypesRequest {
	return ApiCourseTypeRestServiceFindAllCourseTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CourseTypeListResource
func (a *CourseTypeServiceAPIService) CourseTypeRestServiceFindAllCourseTypesExecute(r ApiCourseTypeRestServiceFindAllCourseTypesRequest) (*CourseTypeListResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CourseTypeListResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CourseTypeServiceAPIService.CourseTypeRestServiceFindAllCourseTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/course-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorResource
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCourseTypeRestServiceGetCourseTypeByKeyRequest struct {
	ctx context.Context
	ApiService CourseTypeServiceAPI
	key string
}

func (r ApiCourseTypeRestServiceGetCourseTypeByKeyRequest) Execute() (*CourseTypeResource, *http.Response, error) {
	return r.ApiService.CourseTypeRestServiceGetCourseTypeByKeyExecute(r)
}

/*
CourseTypeRestServiceGetCourseTypeByKey Returns the course type of the specified key. If there a multiple curse types with the same key (which is not recommended), then we first sort by active and than by uid.so the active course type with the highest id or if no course type with the given key is active, than the course typewith the highest id will be returned

Scopes: [co-course.read]

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param key The key of the course type.
 @return ApiCourseTypeRestServiceGetCourseTypeByKeyRequest
*/
func (a *CourseTypeServiceAPIService) CourseTypeRestServiceGetCourseTypeByKey(ctx context.Context, key string) ApiCourseTypeRestServiceGetCourseTypeByKeyRequest {
	return ApiCourseTypeRestServiceGetCourseTypeByKeyRequest{
		ApiService: a,
		ctx: ctx,
		key: key,
	}
}

// Execute executes the request
//  @return CourseTypeResource
func (a *CourseTypeServiceAPIService) CourseTypeRestServiceGetCourseTypeByKeyExecute(r ApiCourseTypeRestServiceGetCourseTypeByKeyRequest) (*CourseTypeResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CourseTypeResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CourseTypeServiceAPIService.CourseTypeRestServiceGetCourseTypeByKey")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/course-types/{key}"
	localVarPath = strings.Replace(localVarPath, "{"+"key"+"}", url.PathEscape(parameterValueToString(r.key, "key")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResource
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResource
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
