/*
course (Courses)

The Course API provides information about courses.

API version: 5.15.0-SNAPSHOT-0f2d6c9
Contact: campusonline@tugraz.at
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package campusonline

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


type LectureshipServiceAPI interface {

	/*
	LectureshipRestServiceGetLectureship Returns the specified lectureship. Only lectureships with the functionKey MAIN_LECTURER, LECTURER, ASSISTANT, TUTOR, or SUPERVISOR will be provided

	Scopes: [co-lectureship.read]

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uid The unique ID (UID) of the lectureship.
	@return ApiLectureshipRestServiceGetLectureshipRequest
	*/
	LectureshipRestServiceGetLectureship(ctx context.Context, uid string) ApiLectureshipRestServiceGetLectureshipRequest

	// LectureshipRestServiceGetLectureshipExecute executes the request
	//  @return LectureshipResource
	LectureshipRestServiceGetLectureshipExecute(r ApiLectureshipRestServiceGetLectureshipRequest) (*LectureshipResource, *http.Response, error)

	/*
	LectureshipRestServiceGetLectureshipFunctions Returns all available lectureship functions

	Scopes: [co-lectureship.read]

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiLectureshipRestServiceGetLectureshipFunctionsRequest
	*/
	LectureshipRestServiceGetLectureshipFunctions(ctx context.Context) ApiLectureshipRestServiceGetLectureshipFunctionsRequest

	// LectureshipRestServiceGetLectureshipFunctionsExecute executes the request
	//  @return LectureshipFunctionListResource
	LectureshipRestServiceGetLectureshipFunctionsExecute(r ApiLectureshipRestServiceGetLectureshipFunctionsRequest) (*LectureshipFunctionListResource, *http.Response, error)

	/*
	LectureshipRestServiceGetLectureships Returns the lectureships of the specified courses or persons. Only lectureships with the functionKey MAIN_LECTURER, LECTURER, ASSISTANT,, TUTOR, or SUPERVISOR will be provided. You must provide either a course_uid or a person_uid

	Scopes: [co-lectureship.read]

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiLectureshipRestServiceGetLectureshipsRequest
	*/
	LectureshipRestServiceGetLectureships(ctx context.Context) ApiLectureshipRestServiceGetLectureshipsRequest

	// LectureshipRestServiceGetLectureshipsExecute executes the request
	//  @return LectureshipListResource
	LectureshipRestServiceGetLectureshipsExecute(r ApiLectureshipRestServiceGetLectureshipsRequest) (*LectureshipListResource, *http.Response, error)

	/*
	LectureshipRestServiceGetModifiedLectureships Returns all modified lectureships since the given date. Modifications can only be provided for the last 7 Days.

	Scopes: [co-lectureship.read]

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiLectureshipRestServiceGetModifiedLectureshipsRequest
	*/
	LectureshipRestServiceGetModifiedLectureships(ctx context.Context) ApiLectureshipRestServiceGetModifiedLectureshipsRequest

	// LectureshipRestServiceGetModifiedLectureshipsExecute executes the request
	//  @return ModificationPageResource
	LectureshipRestServiceGetModifiedLectureshipsExecute(r ApiLectureshipRestServiceGetModifiedLectureshipsRequest) (*ModificationPageResource, *http.Response, error)
}

// LectureshipServiceAPIService LectureshipServiceAPI service
type LectureshipServiceAPIService service

type ApiLectureshipRestServiceGetLectureshipRequest struct {
	ctx context.Context
	ApiService LectureshipServiceAPI
	uid string
}

func (r ApiLectureshipRestServiceGetLectureshipRequest) Execute() (*LectureshipResource, *http.Response, error) {
	return r.ApiService.LectureshipRestServiceGetLectureshipExecute(r)
}

/*
LectureshipRestServiceGetLectureship Returns the specified lectureship. Only lectureships with the functionKey MAIN_LECTURER, LECTURER, ASSISTANT, TUTOR, or SUPERVISOR will be provided

Scopes: [co-lectureship.read]

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param uid The unique ID (UID) of the lectureship.
 @return ApiLectureshipRestServiceGetLectureshipRequest
*/
func (a *LectureshipServiceAPIService) LectureshipRestServiceGetLectureship(ctx context.Context, uid string) ApiLectureshipRestServiceGetLectureshipRequest {
	return ApiLectureshipRestServiceGetLectureshipRequest{
		ApiService: a,
		ctx: ctx,
		uid: uid,
	}
}

// Execute executes the request
//  @return LectureshipResource
func (a *LectureshipServiceAPIService) LectureshipRestServiceGetLectureshipExecute(r ApiLectureshipRestServiceGetLectureshipRequest) (*LectureshipResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LectureshipResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LectureshipServiceAPIService.LectureshipRestServiceGetLectureship")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/lectureships/{uid}"
	localVarPath = strings.Replace(localVarPath, "{"+"uid"+"}", url.PathEscape(parameterValueToString(r.uid, "uid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResource
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResource
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiLectureshipRestServiceGetLectureshipFunctionsRequest struct {
	ctx context.Context
	ApiService LectureshipServiceAPI
}

func (r ApiLectureshipRestServiceGetLectureshipFunctionsRequest) Execute() (*LectureshipFunctionListResource, *http.Response, error) {
	return r.ApiService.LectureshipRestServiceGetLectureshipFunctionsExecute(r)
}

/*
LectureshipRestServiceGetLectureshipFunctions Returns all available lectureship functions

Scopes: [co-lectureship.read]

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiLectureshipRestServiceGetLectureshipFunctionsRequest
*/
func (a *LectureshipServiceAPIService) LectureshipRestServiceGetLectureshipFunctions(ctx context.Context) ApiLectureshipRestServiceGetLectureshipFunctionsRequest {
	return ApiLectureshipRestServiceGetLectureshipFunctionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return LectureshipFunctionListResource
func (a *LectureshipServiceAPIService) LectureshipRestServiceGetLectureshipFunctionsExecute(r ApiLectureshipRestServiceGetLectureshipFunctionsRequest) (*LectureshipFunctionListResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LectureshipFunctionListResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LectureshipServiceAPIService.LectureshipRestServiceGetLectureshipFunctions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/lectureship-functions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiLectureshipRestServiceGetLectureshipsRequest struct {
	ctx context.Context
	ApiService LectureshipServiceAPI
	courseUid *[]string
	personUid *[]string
	semesterKey *[]string
}

// The List of course UIDs for which the Lectureships should be requested
func (r ApiLectureshipRestServiceGetLectureshipsRequest) CourseUid(courseUid []string) ApiLectureshipRestServiceGetLectureshipsRequest {
	r.courseUid = &courseUid
	return r
}

// The List of person UIDs for which the Lectureships should be requested
func (r ApiLectureshipRestServiceGetLectureshipsRequest) PersonUid(personUid []string) ApiLectureshipRestServiceGetLectureshipsRequest {
	r.personUid = &personUid
	return r
}

// The List of semester_keys for which the Lectureships should be requested (can be used only in combination with person_uids)
func (r ApiLectureshipRestServiceGetLectureshipsRequest) SemesterKey(semesterKey []string) ApiLectureshipRestServiceGetLectureshipsRequest {
	r.semesterKey = &semesterKey
	return r
}

func (r ApiLectureshipRestServiceGetLectureshipsRequest) Execute() (*LectureshipListResource, *http.Response, error) {
	return r.ApiService.LectureshipRestServiceGetLectureshipsExecute(r)
}

/*
LectureshipRestServiceGetLectureships Returns the lectureships of the specified courses or persons. Only lectureships with the functionKey MAIN_LECTURER, LECTURER, ASSISTANT,, TUTOR, or SUPERVISOR will be provided. You must provide either a course_uid or a person_uid

Scopes: [co-lectureship.read]

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiLectureshipRestServiceGetLectureshipsRequest
*/
func (a *LectureshipServiceAPIService) LectureshipRestServiceGetLectureships(ctx context.Context) ApiLectureshipRestServiceGetLectureshipsRequest {
	return ApiLectureshipRestServiceGetLectureshipsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return LectureshipListResource
func (a *LectureshipServiceAPIService) LectureshipRestServiceGetLectureshipsExecute(r ApiLectureshipRestServiceGetLectureshipsRequest) (*LectureshipListResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LectureshipListResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LectureshipServiceAPIService.LectureshipRestServiceGetLectureships")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/lectureships"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.courseUid != nil {
		t := *r.courseUid
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "course_uid", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "course_uid", t, "form", "multi")
		}
	}
	if r.personUid != nil {
		t := *r.personUid
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "person_uid", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "person_uid", t, "form", "multi")
		}
	}
	if r.semesterKey != nil {
		t := *r.semesterKey
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "semester_key", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "semester_key", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiLectureshipRestServiceGetModifiedLectureshipsRequest struct {
	ctx context.Context
	ApiService LectureshipServiceAPI
	since *string
	courseUid *string
	cursor *string
	limit *int32
	onlyElearningCourses *bool
	semesterKey *string
}

// Date for which the modification will be requested
func (r ApiLectureshipRestServiceGetModifiedLectureshipsRequest) Since(since string) ApiLectureshipRestServiceGetModifiedLectureshipsRequest {
	r.since = &since
	return r
}

// If a courseUid is provided, only modifications for the given course will be provided
func (r ApiLectureshipRestServiceGetModifiedLectureshipsRequest) CourseUid(courseUid string) ApiLectureshipRestServiceGetModifiedLectureshipsRequest {
	r.courseUid = &courseUid
	return r
}

// Kennzeichnung in der Response, dass es noch weitere Einträge gibt, die abgerufen werden können. (Entspricht der \&quot;Page\&quot;)
func (r ApiLectureshipRestServiceGetModifiedLectureshipsRequest) Cursor(cursor string) ApiLectureshipRestServiceGetModifiedLectureshipsRequest {
	r.cursor = &cursor
	return r
}

// Anzahl der zurückgelieferten Einträge je Page
func (r ApiLectureshipRestServiceGetModifiedLectureshipsRequest) Limit(limit int32) ApiLectureshipRestServiceGetModifiedLectureshipsRequest {
	r.limit = &limit
	return r
}

// if true: only courses which has a associated elearningEventTypeUid will be provided, &lt;/br&gt;if false: only courses which has not set a elearningEventTypeUid will be provided, &lt;/br&gt;if null or not set, all courses will be provided whether they have a associated elearningEventTypeUid or not 
func (r ApiLectureshipRestServiceGetModifiedLectureshipsRequest) OnlyElearningCourses(onlyElearningCourses bool) ApiLectureshipRestServiceGetModifiedLectureshipsRequest {
	r.onlyElearningCourses = &onlyElearningCourses
	return r
}

// If a semesterKey is provided, only modifications for courses that take place in the specified semester will be provided
func (r ApiLectureshipRestServiceGetModifiedLectureshipsRequest) SemesterKey(semesterKey string) ApiLectureshipRestServiceGetModifiedLectureshipsRequest {
	r.semesterKey = &semesterKey
	return r
}

func (r ApiLectureshipRestServiceGetModifiedLectureshipsRequest) Execute() (*ModificationPageResource, *http.Response, error) {
	return r.ApiService.LectureshipRestServiceGetModifiedLectureshipsExecute(r)
}

/*
LectureshipRestServiceGetModifiedLectureships Returns all modified lectureships since the given date. Modifications can only be provided for the last 7 Days.

Scopes: [co-lectureship.read]

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiLectureshipRestServiceGetModifiedLectureshipsRequest
*/
func (a *LectureshipServiceAPIService) LectureshipRestServiceGetModifiedLectureships(ctx context.Context) ApiLectureshipRestServiceGetModifiedLectureshipsRequest {
	return ApiLectureshipRestServiceGetModifiedLectureshipsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ModificationPageResource
func (a *LectureshipServiceAPIService) LectureshipRestServiceGetModifiedLectureshipsExecute(r ApiLectureshipRestServiceGetModifiedLectureshipsRequest) (*ModificationPageResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ModificationPageResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LectureshipServiceAPIService.LectureshipRestServiceGetModifiedLectureships")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/lectureships/modifications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.since == nil {
		return localVarReturnValue, nil, reportError("since is required and must be specified")
	}

	if r.courseUid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "course_uid", r.courseUid, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.onlyElearningCourses != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "only_elearning_courses", r.onlyElearningCourses, "form", "")
	}
	if r.semesterKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "semester_key", r.semesterKey, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
