<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <title>TUM Live</title>
    {{template "headImports" .VersionTag}}
</head>
<body>
{{- /*gotype: github.com/joschahenningsen/TUM-Live/web.IndexData*/ -}}
{{template "header" .TUMLiveContext}}
<div class="w-full md:w-1/2 2xl:max-w-screen-xl mx-auto p-6 text-3">
    <p>
        Willkommen bei TUM-Live, dem Livestreaming und VoD Service der Rechnerbetriebsgruppe an der Fakultät für
        Informatik und Mathematik der Technischen Universität München.
        Bei Fragen, Kritik, Lob oder technischen Support stehen wir Ihnen gern unter <a class="underline"
                                                                                        href="mailto:live@rbg.tum.de">live@rbg.tum.de</a>
        zur Verfügung.
    </p>
    <div class="border-gray-500 border-t-2 mt-4 mb-4"></div>
    <h1 class="text-1">Übertragung von Veranstaltungen</h1>
    <p>
    Wir übertragen gern alle Veranstaltungen, die sich an TUM-Studierende oder Mitglieder richten.<br>
    Hier gibt es zwei Möglichkeiten:
    </p>
    <p><b>1. Die Veranstaltung findet in einem von uns ausgestatteten Raum statt:</b><br>
        Ihre Veranstaltung läuft in einen dieser Räume:
        <ul class="ml-3 pl-3 list-disc">
            <li><a class="underline" target="_blank" rel="noopener" href="https://nav.tum.sexy/room/5510.EG.001">MW0001</a>,</li>
            <li><a class="underline" target="_blank" rel="noopener" href="https://nav.tum.sexy/room/5510.02.001">MW2001</a>,</li>
            <li><a class="underline" target="_blank" rel="noopener" href="https://nav.tum.sexy/room/5602.EG.001">MI HS 1</a>,</li>
            <li><a class="underline" target="_blank" rel="noopener" href="https://nav.tum.sexy/room/5604.EG.011">MI HS 2</a>,</li>
            <li><a class="underline" target="_blank" rel="noopener" href="https://nav.tum.sexy/room/5606.EG.011">MI HS 3</a>,</li>
            <li><a class="underline" target="_blank" rel="noopener" href="https://nav.tum.sexy/room/5608.EG.038">00.08.038</a> (Seminarraum),</li>
            <li><a class="underline" target="_blank" rel="noopener" href="https://nav.tum.sexy/room/5613.EG.009A">00.13.009A</a> (Seminarraum),</li>
            <li><a class="underline" target="_blank" rel="noopener" href="https://nav.tum.sexy/room/5607.EG.014">00.07.014</a> (Seminarraum),</li>
            <li><a class="underline" target="_blank" rel="noopener" href="https://nav.tum.sexy/room/5620.01.101">Interims I (101)</a>,</li>
            <li><a class="underline" target="_blank" rel="noopener" href="https://nav.tum.sexy/room/5620.01.102">Interims I(102)</a></li>
        </ul>
        In diesem Fall wird die Veranstaltung automatisch übertragen und aufgezeichnet.
        Sie bekommen vor Semesterbeginn eine Benachrichtigung von uns und können einstellen, ob die
        Veranstaltung übertragen werden soll, welche Features aktiviert werden und wer sie sehen darf.<br>
        Voraussetzung hierfür ist, dass die Termine als Vorlesungstermine eingetragen sind und Sie in TUMOnline als
        Kontaktperson für den Kurs vermerkt sind.
        Sollte hier etwas nicht zu Ihrer Veranstaltungen passen, können Sie uns per Mail Bescheid geben, damit wir den
        Kurs eintragen können.
    </p>
    <p><b>2. Sie streamen die Veranstaltung selbst:</b><br>
        Sollten Sie die Veranstaltung von einem anderen Ort aus abhalten, können Sie sie selbst bei uns einspeisen. Das
        geht mit Software wie <a class="underline" target="_blank" rel="noopener" href="https://obsproject.com/de">OBS</a> oder
        <a class="underline" href="https://support.zoom.us/hc/en-us/articles/115001777826-Live-Streaming-Meetings-or-Webinars-Using-a-Custom-Service"
           target="_blank" rel="noopener">Zoom</a>.
    </p>
    <div class="border-gray-500 border-t-2 mt-4 mb-4"></div>
    <h1 class="text-1">Impressum</h1>
    <h3 class="mt-2 border-l-4 border-gray-500 pl-2">Herausgeber</h3>
    <p class="pl-6">
        Technische Universität München<br>
        Arcisstraße 21<br>
        80333 München<br>
        Telefon: +4989289-01<br>
        poststelle@tum.de<br>
    </p>
    <h3 class="mt-2 border-l-4 border-gray-500 pl-2">Vertretungsberechtigt</h3>
    <p class="pl-6">
        Die Technische Universität München wird gesetzlich vertreten durch den Präsidenten, Prof. Dr. Thomas F. Hofmann.
    </p>
    <h3 class="mt-2 border-l-4 border-gray-500 pl-2">Zuständige Aufsichtsbehörde</h3>
    <p class="pl-6">
        Bayerisches Staatsministerium für Wissenschaft und Kunst
    </p>
    <h3 class="mt-2 border-l-4 border-gray-500 pl-2">Umsatzsteueridentifikationsnummer</h3>
    <p class="pl-6">
        DE811193231 (gemäß § 27a Umsatzsteuergesetz )
    </p>
    <h3 class="mt-2 border-l-4 border-gray-500 pl-2">Inhaltlich verantwortlich</h3>
    <p class="pl-6">
        Stefan Schwalb<br>
        Boltzmannstr. 3<br>
        85748 Garching<br>
        E-Mail: schwalb(at)in.tum.de<br>
        <br>
        Vorlesungsinhalte geben die Auffassungen und Erkenntnisse der entsprechenden Vortragenden wieder.
    </p>
    <h3 class="mt-2 border-l-4 border-gray-500 pl-2">Nutzungsbedingungen</h3>
    <p class="pl-6">
        Texte, Bilder, Grafiken sowie die Gestaltung dieses Webauftritts können dem Urheberrecht unterliegen.<br>
        Als Privatperson dürfen Sie urheberrechtlich geschütztes Material zum privaten und sonstigen eigenen Gebrauch im
        Rahmen des § 53 UrhG verwenden. Eine Vervielfältigung oder Verwendung urheberrechtlich geschützten Materials
        dieser Seiten oder Teilen davon in anderen elektronischen oder gedruckten Publikationen und deren
        Veröffentlichung ist nur mit unserer Einwilligung gestattet. Diese Einwilligung erteilen auf Anfrage die für den
        Inhalt Verantwortlichen. Der Nachdruck und die Auswertung von Pressemitteilungen und Reden sind mit
        Quellenangabe allgemein gestattet.<br>
        Weiterhin können Texte, Bilder, Grafiken und sonstige Dateien ganz oder teilweise dem Urheberrecht Dritter
        unterliegen. Auch über das Bestehen möglicher Rechte Dritter geben Ihnen die für den Inhalt Verantwortlichen
        nähere Auskünfte.
    </p>
    <h3 class="mt-2 border-l-4 border-gray-500 pl-2">Haftungsausschluss</h3>
    <p class="pl-6">
        Alle in diesem Webauftritt bereitgestellten Informationen haben wir nach bestem Wissen und Gewissen erarbeitet
        und geprüft. Eine Gewähr für die jederzeitige Aktualität, Richtigkeit, Vollständigkeit und Verfügbarkeit der
        bereit gestellten Informationen können wir allerdings nicht übernehmen. Ein Vertragsverhältnis mit den Nutzern
        des Webauftritts kommt nicht zustande.
        <br>
        Wir haften nicht für Schäden, die durch die Nutzung dieses Webauftritts entstehen. Dieser Haftungsausschluss
        gilt nicht, soweit die Vorschriften des § 839 BGB (Haftung bei Amtspflichtverletzung) einschlägig sind. Für
        etwaige Schäden, die beim Aufrufen oder Herunterladen von Daten durch Schadsoftware oder der Installation oder
        Nutzung von Software verursacht werden, übernehmen wir keine Haftung.
    </p>
    <h3 class="mt-2 border-l-4 border-gray-500 pl-2">Links</h3>
    <p class="pl-6">
        Von unseren eigenen Inhalten sind Querverweise („Links“) auf die Webseiten anderer Anbieter zu unterscheiden.
        Durch diese Links ermöglichen wir lediglich den Zugang zur Nutzung fremder Inhalte nach § 8 Telemediengesetz.
        Bei der erstmaligen Verknüpfung mit diesen Internetangeboten haben wir diese fremden Inhalte daraufhin
        überprüft, ob durch sie eine mögliche zivilrechtliche oder strafrechtliche Verantwortlichkeit ausgelöst wird.
        Wir können diese fremden Inhalte aber nicht ständig auf Veränderungen überprüfen und daher auch keine
        Verantwortung dafür übernehmen. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für
        Schäden, die aus der Nutzung oder Nichtnutzung von Informationen Dritter entstehen, haftet allein der jeweilige
        Anbieter der Seite.
    </p>
    <div class="border-gray-500 border-t-2 mt-4 mb-4"></div>
    <h1 class="text-1">Datenschutzerklärung</h1>
    <p class="pl-6">
        Für die Technische Universität München ist Datenschutz ein wichtiges Anliegen. Wir möchten, dass Sie wissen,
        wann wir welche Daten speichern und wie wir sie verwenden. Personenbezogene Daten werden auf diesem zentralen
        Web-Server der Universität (www.tum.de) nur im technisch notwendigen Umfang erhoben. Die Datenverarbeitung
        unterliegt den geltenden datenschutzrechtlichen Bestimmungen, insbesondere der Datenschutz-Grundverordnung
        (DSGVO) dem Bayerischen Datenschutzgesetz (BayDSG) und dem Telemediengesetz (TMG).
        <br>
        Nachfolgend informieren wir Sie über Art, Umfang und Zweck der Erhebung und Verwendung personenbezogener Daten.
        Diese Informationen können jederzeit von unserer Webseite abgerufen werden.
    </p>

    <h3 class="mt-2 border-l-4 border-gray-500 pl-2">Verwendete personenbezogene Daten</h3>
    <p class="pl-6">
        Bei einer Anmeldung werden die Folegenden personenbezogenen Daten erhoben:
    </p>
    <ul class="list-disc pl-10">
        <li>Anonymer personenbezogener Identifier ("Obfuscated ID")</li>
        <li>LRZ ID</li>
        <li>Matrikelnummer</li>
        <li>Name</li>
        <li>Kursanmeldungen aus TUMOnline</li>
    </ul>
    <p class="pl-6">
        Die zum Login verwendeten Daten werden ausschließlich zur identifizierung an den TUM-weiten identity Provider
        gesendet und im Anschluss verworfen.
    </p>

    <h3 class="mt-2 border-l-4 border-gray-500 pl-2">Protokollierung</h3>
    <p class="pl-6">
        Wenn Sie diese Internetseite aufrufen, übermitteln Sie über Ihren Internetbrowser Daten an unseren Webserver.
        Die folgenden Daten werden während einer laufenden Verbindung zur Kommunikation zwischen Ihrem Internetbrowser
        und unserem Webserver temporär in einer Logdatei aufgezeichnet:
    </p>
    <ul class="list-disc pl-10">
        <li>IP-Adresse des anfragenden Rechners</li>
        <li>Datum und Uhrzeit des Zugriffs</li>
        <li>Name, URL und übertragene Datenmenge der abgerufenen Datei</li>
        <li>Zugriffsstatus (angeforderte Datei übertragen, nicht gefunden etc.)</li>
        <li>Erkennungsdaten des verwendeten Browser- und Betriebssystems (sofern vom anfragenden Webbrowser
            übermittelt)
        </li>
        <li>Webseite, von der aus der Zugriff erfolgte (sofern vom anfragenden Webbrowser übermittelt)</li>
    </ul>
    <p class="pl-6 my-2">
        Die Verarbeitung der Daten in dieser Logdatei geschieht wie folgt:
    </p>
    <ul class="list-disc pl-10">
        <li>Die Logeinträge werden kontinuierlich automatisch ausgewertet, um Angriffe auf die Webserver erkennen und
            entsprechend reagieren zu können.
        </li>
        <li>In Einzelfällen, d.h. bei gemeldeten Störungen, Fehlern und Sicherheitsvorfällen, erfolgt eine manuelle
            Analyse.
        </li>
        <li>Logeinträge, die älter als sieben Tage sind, werden durch Kürzung der IP-Adresse anonymisiert.</li>
        <li>Die anonymisierten Logs werden zur Erstellung von Zugriffsstatistiken verwendet. Die hierfür eingesetzte
            Software wird lokal von uns betrieben.
        </li>
    </ul>
    <h3 class="mt-2 border-l-4 border-gray-500 pl-2">Cookies</h3>
    <p class="pl-6">
        Um den Funktionsumfang unseres Internetangebotes zu erweitern und die Nutzung für Sie komfortabler zu gestalten,
        verwenden wir zum Teil so genannte „Cookies". Mit Hilfe dieser Cookies können bei dem Aufruf unserer Webseite
        Daten auf Ihrem Rechner gespeichert werden. Sie können das Speichern von Cookies jedoch deaktivieren oder Ihren
        Browser so einstellen, dass Cookies nur für die Dauer der jeweiligen Verbindung zum Internet gespeichert werden.
        Hierdurch könnte allerdings der Funktionsumfang unseres Angebotes eingeschränkt werden.
        <br>
        Für einige Funktionen (gespeicherte Einstellungen wie Lautstärke oder ausgeblendete Kurse) werden außerdem Daten
        im Webstorage Ihres Browsers gespeichert. Diese werden nicht an unsere Server übertragen.
    </p>
    <h2 class="mt-5 mb-4">We <i class="fas fa-heart text-danger"></i> Open Source</h2>
    <p class="mt-4 px-4">
        This project is open source. And so are tons of projects that helped building this website (without even
        knowing!). Check them out <a class="underline" href="/public/licenses.txt">here</a>.
    </p>

</div>
</body>
</html>
