<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TUM Live</title>
    {{template "headImports"}}
</head>
<body class="bg-primary">
{{- /*gotype: TUM-Live/web.IndexData*/ -}}
{{template "header" .}}

<div class="container pt-6 text-gray-300">
    <h1 class="mb-4">About Us</h1>
    <p class="px-4">
        Welcome to TUM-Live, the livestreaming and VoD service of the Rechnerbetriebsgruppe at TUMs faculty of
        informatics and mathematics.
        For technical support please reach out to us at <a class="underline"
                                                           href="mailto:rbg@in.tum.de">rbg@in.tum.de</a>.
    </p>
    <p class="mt-4 px-4">
        You can find our data privacy statement at <a class="underline" href="https://www.in.tum.de/en/datenschutz/">www.in.tum.de/en/datenschutz</a>
        and our Impressum at <a class="underline" href="https://www.in.tum.de/en/impressum/">www.in.tum.de/en/impressum</a>.
    </p>
    <h1 class="mt-5 mb-4">Über Uns</h1>
    <p class="px-4">
        Willkommen bei TUM-Live, dem Livestreaming und VoD service der Rechnerbetriebsgruppe an der Fakultät für
        Informatik und Mathematik der Technischen Universität München.
        Für technischen Support stehen wir Ihenen gern unter <a class="underline" href="mailto:rbg@in.tum.de">rbg@in.tum.de</a>
        zur Verfügung.
    </p>
    <p class="mt-4 px-4">
        Unsere Datenschutzerklärung entnehmen Sie bitte <a class="underline" href="https://www.in.tum.de/datenschutz/">www.in.tum.de/datenschutz</a>.
        Das Impressum finden Sie hier: <a class="underline" href="https://www.in.tum.de/impressum/">www.in.tum.de/impressum</a>.
    </p>
</div>
</body>
</html>
