<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TUM Live</title>
    {{template "headImports" .VersionTag}}
</head>
<body class="bg-primary">
{{- /*gotype: TUM-Live/web.IndexData*/ -}}
{{template "header" .}}

<div class="container p-6 text-gray-300 bg-secondary border-1 rounded border-gray-300">
    <h1 class="mb-4">About Us</h1>
    <p class="px-4">
        Welcome to TUM-Live, the livestreaming and VoD service of the Rechnerbetriebsgruppe at TUMs faculty of
        informatics and mathematics.
        For technical support please reach out to us at <a class="underline"
                                                           href="mailto:rbg@in.tum.de">rbg@in.tum.de</a>.
    </p>
    <p class="mt-4 px-4">
        You can find our data privacy statement at <a class="underline" href="https://www.in.tum.de/en/datenschutz/">www.in.tum.de/en/datenschutz</a>
        and our Impressum at <a class="underline" href="https://www.in.tum.de/en/impressum/">www.in.tum.de/en/impressum</a>.
    </p>
    <h1 class="mt-5 mb-4">Über Uns</h1>
    <p class="px-4">
        Willkommen bei TUM-Live, dem Livestreaming und VoD service der Rechnerbetriebsgruppe an der Fakultät für
        Informatik und Mathematik der Technischen Universität München.
        Für technischen Support stehen wir Ihenen gern unter <a class="underline" href="mailto:rbg@in.tum.de">rbg@in.tum.de</a>
        zur Verfügung.
    </p>
    <p class="mt-4 px-4">
        Unsere Datenschutzerklärung entnehmen Sie bitte <a class="underline" href="https://www.in.tum.de/datenschutz/">www.in.tum.de/datenschutz</a>.
        Das Impressum finden Sie hier: <a class="underline" href="https://www.in.tum.de/impressum/">www.in.tum.de/impressum</a>.
    </p>
    <h2 class="mt-5 mb-4">We <i class="fas fa-heart text-danger"></i> Open Source</h2>
    <p class="mt-4 px-4">
        This project is open source. And so are tons of projects that helped building this website (without even knowing!). Here's a list:
    </p>
    <ul class="px-6">
        <li class="text-bold text-lg">Golang</li>
        <li class="text-sm">
            <p>
                Awesome folks. If you are a fan of the loading time of this website, credit them.
                License <a class="text-white" href="https://golang.org/LICENSE">here</a>,
                Website <a class="text-white" href="https://golang.org">there</a>
            </p>
        </li>
        <li class="text-bold text-lg">Gorm</li>
        <li class="text-sm">
            <p>
                What would we do if we didn't have such amazing people that make writing SQL sort of enjoyable?
                Probably call Alfons.
                <a class="text-white" href="https://gorm.io/">Visit them now!</a>
            </p>
        </li>
        <li class="text-bold text-lg">videojs</li>
        <li class="text-sm">
            <p>
                There's no Video without you.
                Well sort of, but being able to pop it out, select it's quality, add subtitles, speed it up, style it...
                If we were about to build the next big thing, <a class="text-white" href="https://videojs.com/">this</a> is the way to go.
            </p>
        </li>
        <li class="text-bold text-lg">tailwind</li>
        <li class="text-sm">
            <p>
                Imagine writing actual css. Ugh! go <a href="https://tailwindcss.com/">tailwind</a> instead!
            </p>
        </li>
        <li class="text-bold text-lg">Font Awesome</li>
        <li class="text-sm">
            <p>
                How heartless would this section be without mentioning <a href="https://fontawesome.com/">fontawesome</a>?
                Need an Icon? They got it! <i class="fas fa-rocket text-info"></i>
            </p>
        </li>
        <li class="text-bold text-lg">TypeScript</li>
        <li class="text-sm">
            <p>
                Did you know that you can use <a href="https://www.typescriptlang.org/">TypeScript</a> in your project without using it for anything javascript can't do?
                You absolutely can. <i>What a feature!</i>
            </p>
        </li>
    </ul>
</div>
</body>
</html>
