<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TUM Live | Administration</title>
    {{template "headImports"}}
    <script src="/assets/ts-dist/admin.js"></script>
</head>
<body class="bg-primary">

{{- /*gotype: TUM-Live/web.AdminPageData*/ -}}
{{template "header" .IndexData}}

<div class="container mx-auto">
    <div class="min-w-screen flex items-center justify-center">
        <div class="w-full lg:w-5/6">
            {{if eq .User.Role 1}}
                <div class="bg-secondary rounded my-6 overflow-x-auto">
                    <h2 class="text-2xl bg-primary text-gray-300">User Management</h2>
                    <table class="table-auto w-full">
                        <thead>
                        <tr class="bg-primary text-gray-300 uppercase text-sm leading-normal">
                            <th class="py-3 px-6 text-left">Name</th>
                            <th class="py-3 px-6 text-left">Email</th>
                            <th class="py-3 px-6 text-center">Role</th>
                            <th class="py-3 px-6 text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="text-gray-300 text-sm font-light">
                        {{range $user := .Users}}
                            <tr id="user{{$user.Model.ID}}" class="border-gray-500 hover:bg-primary">
                                <td class="py-3 px-6 text-left whitespace-nowrap">
                                    <div class="flex items-center">
                                        <span class="font-medium p-3">{{$user.Name}}</span>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <span class="font-medium p-3">{{$user.Email}}</span>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    {{if eq $user.Role 1}}
                                        <span class="bg-info text-gray-100 py-1 px-3 rounded-full text-xs">Admin</span>
                                    {{else if eq $user.Role 2}}
                                        <span class="bg-success text-gray-100 py-1 px-3 rounded-full text-xs">Lecturer</span>
                                    {{else}}
                                        <span class="bg-warn text-gray-100 py-1 px-3 rounded-full text-xs">Generic</span>
                                    {{end}}
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <div class="flex item-center justify-center">
                                        {{if ne $user.Role 1}}
                                            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                                <i onclick="deleteUser({{$user.Model.ID}})" class="fas fa-trash"></i>
                                            </div>
                                        {{end}}
                                    </div>
                                </td>
                            </tr>
                        {{end}}

                        <tr class=" hover:bg-primary">
                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                <div class="flex items-center">
                                    <input id="name" name="name" placeholder="Name" type="text" autocomplete="off"
                                           class="focus:outline-none focus:border-gray-300 p-3 font-medium w-full bg-transparent border-b-2 border-gray-500"/>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left">
                                <div class="flex items-center">
                                    <input id="email" name="email" type="email" placeholder="Email" autocomplete="off"
                                           class="focus:outline-none focus:border-gray-300 p-3 font-medium w-full bg-transparent border-b-2 border-gray-500"/>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-center"></td>
                            <td class="py-3 px-6 text-center">
                                <div class="flex item-center justify-center">
                                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <i onclick="createUser()" id="createUser" class="fas fa-plus"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {{end}}
            {{if or (eq .User.Role 1) (eq .User.Role 2)}}
                <div class="bg-secondary rounded my-6 overflow-x-auto">
                    <h2 class="text-2xl bg-primary text-gray-300">Course Management</h2>
                    <table class="table-auto w-full">
                        <thead>
                        <tr class="bg-primary text-gray-300 uppercase text-sm leading-normal">
                            <th class="py-3 px-6 text-left">Name</th>
                            <th class="py-3 px-6 text-left">Streaming-Key</th>
                            <th class="py-3 px-6 text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="text-gray-300 text-sm font-light">
                        {{range $course := .Courses}}
                            <tr class="border-gray-500 hover:bg-primary">
                                <td class="py-3 px-6 text-left whitespace-nowrap">
                                    <div class="flex items-center">
                                        <span class="font-medium p-3">{{$course.Name}}</span>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <span class="font-medium p-3">{{$course.ID}}</span>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <div class="flex item-center justify-center">
                                        <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                            <i class="fas fa-trash"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {{end}}

                        <tr class=" hover:bg-primary">
                            <td class="py-3 px-6 text-left whitespace-nowrap">
                                <div class="flex items-center">
                                    <input id="courseId" name="courseId" placeholder="TUMOnline ID" type="text" autocomplete="off"
                                           class="focus:outline-none focus:border-gray-300 p-3 font-medium w-full bg-transparent border-b-2 border-gray-500"/>
                                </div>
                            </td>
                            <td class="py-3 px-6 text-left"></td>
                            <td class="py-3 px-6 text-center">
                                <div class="flex item-center justify-center">
                                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                        <i onclick="" id="createCourse" class="fas fa-plus"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {{end}}
        </div>
    </div>
</div>

</body>
</html>