<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <title>{{ .IndexData.TUMLiveContext.Course.Name }} | TUM Live</title>
    <script src="/static/assets/ts-dist/global.bundle.js?v={{.IndexData.VersionTag}}"></script>
        {{ template "headImports" .IndexData.VersionTag }}
    </head>
    <body class="md:overflow-hidden">
        {{- /*gotype: github.com/joschahenningsen/TUM-Live/web.CoursePageData*/ -}}
        {{ template "header" .IndexData.TUMLiveContext }}
        {{ $course := .IndexData.TUMLiveContext.Course }}
        <!-- 6.5 = nav height + padding -->
        <div class="m-auto w-full px-1 sm:px-3 lg:px-5 xl:w-2/3" style="height: calc(100vh - (6.5rem));">
            <div class="my-8 pl-2 md:pl-0">
                <h1 class="text-3 my-auto text-3xl font-bold">{{ $course.Name }}</h1>
            </div>
            <div class="m-auto flex flex-wrap pb-3 md:grid md:h-5/6 md:grid-cols-5 md:grid-rows-6 md:gap-4 md:pb-0">
                <!-- VoD -->
                <div
                    {{ if .IndexData.TUMLiveContext }}
                        x-init="watchedTracker.init({{ .WatchedData }})" x-data="watchedTracker = new
                        global.WatchedTracker"
                    {{ end }}class="w-full md:row-span-6 md:col-span-3"
                >
                    <div
                        x-data="{asc: false{{ if .IndexData.TUMLiveContext.User }}
                            , filterWatched: true, watchedAll: watchedTracker.userWatchedAll()
                        {{ end }}}"
                        class="flex h-full flex-col rounded-lg border bg-white
                    shadow-sm dark:border-gray-800 dark:bg-secondary"
                    >
                        <div class="flex h-16 justify-between border-b px-3 dark:border-gray-800">
                            <span
                                class="my-auto rounded-full bg-green-400 px-5 text-lg font-bold text-white dark:bg-green-500"
                                >VoDs</span
                            >
                            <div class="my-auto">
                                {{ if .Course.HasRecordings }}
                                    <button
                                        class="rounded px-2 hover:bg-gray-200 dark:hover:bg-gray-600"
                                        x-init="global.reorderVodList()"
                                        @click="asc = !asc; global.reorderVodList()"
                                    >
                                        <span
                                            class="text-sm font-semibold uppercase dark:text-white"
                                            x-text="asc ? '&#x25B2; asc' : '&#x25BC; desc'"
                                            >desc &#x25BC;</span
                                        >
                                    </button>
                                {{ end }}
                                {{ if and .IndexData.TUMLiveContext.User .Course.HasRecordings }}
                                    <button
                                        class="rounded px-2 hover:bg-gray-200 dark:hover:bg-gray-600"
                                        @click="filterWatched=!filterWatched"
                                        :title="filterWatched ? 'Show watched streams' : 'Hide watched streams'"
                                    >
                                        <span class="text-sm font-semibold uppercase dark:text-white">
                                            <i
                                                class="fa-solid mr-1 w-5"
                                                :class="filterWatched ? 'fa-eye' : 'fa-eye-slash'"
                                            ></i
                                            >watched
                                        </span>
                                    </button>
                                {{ end }}
                            </div>
                        </div>
                        <ul id="vod-list" class="flex flex-1 flex-col overflow-y-scroll px-5 py-3">
                            {{ template "vod_course_list" . }}
                        </ul>
                    </div>
                </div>
                <!-- Next Lecture -->
                {{ if or $course.HasNextLecture $course.IsLive }}
                    <div
                        class="relative order-first my-3 flex w-full rounded-lg border bg-white
                    py-3 px-5 shadow-sm dark:border-gray-800 dark:bg-secondary md:order-none md:col-span-2 md:row-span-1 md:my-0 "
                    >
                        {{ $lecture := $course.GetNextLecture }}
                        {{ if $course.IsLive }}
                            {{ $liveLectures := $course.GetLiveStreams }}
                            <span class="absolute -top-1 -right-1 flex h-5 w-5">
                                <span
                                    class="absolute inline-flex h-full w-full animate-ping rounded-full bg-red-700 opacity-75"
                                ></span>
                                <span class="relative inline-flex h-5 w-5 rounded-full bg-danger"></span>
                            </span>
                            <div class="my-auto">
                                <h1 class="text-3 text-2xl font-bold">Live Now!</h1>
                                {{ range $liveLectures }}
                                    <a
                                        class="block text-sm font-light dark:text-white"
                                        href="/w/{{ $course.Slug }}/{{ .Model.ID }}"
                                    >
                                        <i class="fas fa-angle-right"></i>
                                        <span class="hover:underline"
                                            >Open
                                            stream{{ if gt (len $liveLectures) 1 }}
                                                <span class="font-semibold">{{ .GetName }}</span>
                                            {{ end }}</span
                                        >
                                    </a>
                                {{ end }}
                            </div>
                        {{ else if $lecture.IsComingUp }}
                            <span class="absolute -top-1 -right-1 flex h-5 w-5">
                                <span
                                    class="absolute inline-flex h-full w-full animate-ping rounded-full bg-amber-500 opacity-75"
                                ></span>
                                <span class="relative inline-flex h-5 w-5 rounded-full bg-wait"></span>
                            </span>
                            <div class="my-auto">
                                <h1 class="text-3 text-2xl font-bold">Live Soon!</h1>
                                <a
                                    class="text-sm font-light dark:text-white"
                                    href="/w/{{ $course.Slug }}/{{ $lecture.Model.ID }}"
                                >
                                    <i class="fas fa-angle-right"></i>
                                    <span>Join waiting room</span>
                                </a>
                            </div>
                        {{ else }}
                            <div class="my-auto">
                                <h1 class="text-3 text-2xl font-bold">
                                    {{ $next := $lecture.Start }}
                                    {{ $lecture.FriendlyNextDate }}
                                </h1>
                                <span class="text-3 text-sm font-light">Next Livestream</span>
                            </div>
                        {{ end }}
                    </div>
                {{ end }}
                <!-- Planned -->
                <div
                    class="{{ if $course.HasNextLecture }}
                        md:row-span-5
                    {{ else }}
                        md:row-span-6
                    {{ end }} w-full md:col-span-2"
                >
                    <div
                        x-data="{showPlanned: true, lectures: {{ $course.HasStreams }}}"
                        class="my-3 flex flex-col rounded-lg border bg-white shadow-sm dark:border-gray-800 dark:bg-secondary md:my-0"
                        :class="showPlanned ? 'h-full' : 'h-fit'"
                    >
                        <div
                            class="flex h-16 justify-between px-3"
                            :class="showPlanned && 'border-b dark:border-gray-800'"
                        >
                            <span class="my-auto rounded-full bg-info px-5 text-lg font-bold text-white">Upcoming</span>
                            <div class="my-auto">
                                <button
                                    class="my-auto rounded px-2 hover:bg-gray-200 dark:hover:bg-gray-600"
                                    @click="showPlanned = !showPlanned;"
                                >
                                    <span
                                        class="text-sm font-semibold uppercase dark:text-white"
                                        x-text="showPlanned ? '&#x25B2; hide' : '&#x25BC; show'"
                                        >&#x25B2; hide</span
                                    >
                                </button>
                                <a
                                    class="rounded px-2 hover:bg-gray-200 dark:hover:bg-gray-600"
                                    href="/api/download_ics/{{ $course.Year }}/{{ $course.TeachingTerm }}/{{ $course.Slug }}/events.ics"
                                    :title="'Export lecture dates'"
                                    x-show="lectures"
                                >
                                    <span class="text-sm font-semibold uppercase dark:text-white">
                                        <i class="fa-solid fa-calendar mr-1 w-5"></i>ics
                                    </span>
                                </a>
                            </div>
                        </div>

                        <ul x-show="showPlanned" class="flex flex-1 flex-col overflow-y-scroll px-5 py-3">
                            {{ template "planned_course_list" .IndexData.TUMLiveContext }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
