<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <title>{{.IndexData.TUMLiveContext.Course.Name}} | TUM Live</title>
    <script src="/static/assets/ts-dist/course.js" defer async></script>
    {{template "headImports" .IndexData.VersionTag}}
</head>
<body class="md:overflow-hidden">
{{- /*gotype: TUM-Live/web.CoursePageData*/ -}}
{{template "header" .IndexData.TUMLiveContext}}
{{$course := .IndexData.TUMLiveContext.Course}}
<!-- 6.5 = nav height + padding -->
<div class="m-auto px-1 sm:px-3 lg:px-5 w-full xl:w-2/3" style="height: calc(100vh - (6.5rem));">
    <div class="my-8 pl-2 md:pl-0">
        <h1 class="font-bold text-3xl text-3 my-auto">{{$course.Name}}</h1>
    </div>
    <div class="m-auto flex flex-wrap pb-3 md:h-5/6 md:grid md:grid-rows-6 md:grid-cols-2 md:gap-4 md:pb-0">
        <!-- VoD -->
        <div x-init="watchedTracker.init({{.ProgressResponses}})" x-data="watchedTracker = new global.WatchedTracker" class="w-full md:row-span-6 md:w-auto">
            <div x-data="{asc: false, filterWatched: false, watchedAll: watchedTracker.userWatchedAll() }"
                 class="bg-white h-full border dark:bg-secondary dark:border-gray-800 rounded-lg
                    shadow-sm">
                <div class="flex justify-between h-16 px-3 border-b dark:border-gray-800 shadow">
                    <span class="justify-self-start bg-success rounded-full text-lg font-bold text-white my-auto px-5">VoD</span>
                    <button class="self-start hover:gray-200 dark:hover:gray-600 text-sm font-semibold uppercase dark:text-white my-auto" @click="filterWatched = !filterWatched">
                        <i title="Hide watched streams" x-show="filterWatched" class="fa-solid fa-square-minus"></i>
                        <i title="Show watched streams" x-show="!filterWatched" class="fa-solid fa-square-plus"></i>
                    </button>
                    <button class="justify-self-end hover:bg-gray-200 dark:hover:bg-gray-600 rounded px-2 my-auto"
                            @click="asc = !asc">
                    <span class="justify-self-end text-sm font-semibold uppercase dark:text-white my-auto"
                          x-text="asc ? '&#x25B2; asc' : '&#x25BC; desc'">&#x25BC; desc</span>
                    </button>
                </div>
                <ul id="vod-list" class="flex px-5 py-3 overflow-y-scroll"
                    :class="asc ? 'flex-col-reverse' : 'flex-col'"
                    style="max-height: calc(100% - 4rem)"> <!-- 4rem = h-16 -->
                    {{template "vod_course_list" . }}
                </ul>
            </div>
        </div>
        <!-- Next Lecture -->
        <div class="flex w-full relative bg-white border dark:bg-secondary dark:border-gray-800 rounded-lg
                    shadow-sm py-3 px-5 my-3 order-first md:my-0 md:row-span-1 md:w-auto md:order-none">
            {{$lecture := $course.GetNextLecture}}
            {{if $course.IsLive}}
                {{$lecture = $course.GetLiveStream}}
                <span class="absolute -top-1 -right-1 flex h-5 w-5">
                  <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-700 opacity-75"></span>
                  <span class="relative inline-flex rounded-full h-5 w-5 bg-danger"></span>
                </span>
                <div class="my-auto">
                    <h1 class="text-3xl font-bold text-3">Live Now!</h1>
                    <a class="font-light text-sm dark:text-white" href="/w/{{$course.Slug}}/{{$lecture.Model.ID}}">
                        <i class="fas fa-angle-right"></i>
                        <span>Open stream</span>
                    </a>
                </div>
            {{else if $lecture.IsComingUp}}
                <span class="absolute -top-1 -right-1 flex h-5 w-5">
                  <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-amber-500 opacity-75"></span>
                  <span class="relative inline-flex rounded-full h-5 w-5 bg-wait"></span>
                </span>
                <div class="my-auto">
                    <h1 class="text-3xl font-bold text-3">Live Soon!</h1>
                    <a class="font-light text-sm dark:text-white" href="/w/{{$course.Slug}}/{{$lecture.Model.ID}}">
                        <i class="fas fa-angle-right"></i>
                        <span>Join waiting room</span>
                    </a>
                </div>
            {{else}}
                <div class="my-auto">
                    <h1 class="text-3xl font-bold text-3">
                        {{$next := $lecture.Start}}
                        {{$lecture.FriendlyNextDate}}
                    </h1>
                    <span class="font-light text-sm text-3">Next Livestream</span>
                </div>
            {{end}}
        </div>
        <!-- Planned -->
        <div class="w-full md:row-span-5 md:w-auto">
            <div x-data="{showPlanned: true}"
                 class="bg-white dark:bg-secondary border dark:border-gray-800 rounded-lg shadow-sm my-3 md:my-0"
                 :class="showPlanned ? 'h-full' : 'h-fit'">

                <div class="flex justify-between h-16 px-3 shadow"
                     :class="showPlanned && 'border-b dark:border-gray-800'">
                    <span class="bg-info rounded-full text-lg font-bold text-white px-5 my-auto">Upcoming</span>
                    <button class="hover:bg-gray-200 dark:hover:bg-gray-600 rounded px-2 my-auto"
                            @click="showPlanned = !showPlanned;">
                        <span class="text-sm font-semibold uppercase dark:text-white"
                              x-text="showPlanned ? '&#x25B2; hide' : '&#x25BC; show'">&#x25B2; hide</span>
                    </button>
                </div>

                <ul x-show="showPlanned" class="flex flex-col px-5 py-3 overflow-y-scroll"
                    style="max-height: calc(100% - 4rem)">
                    {{template "planned_course_list" .IndexData.TUMLiveContext}}
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
