<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <title>TUM Live</title>
    {{template "headImports" .IndexData.VersionTag}}
</head>
<body class="bg-primary">
{{- /*gotype: TUM-Live/web.ErrorPageData*/ -}}
{{template "header" .IndexData}}

<div class="container pt-6 flex flex-col">
    <h1 class="text-lg text-white">Error {{.Status}}</h1>
    <p class="text-gray-300">{{.Message}}</p>
</div>
</body>
</html>
