{{define "footer"}}
<footer class = "fixed bottom-0 h-10 border-t dark:border-gray-800 bg-gray-100 w-full dark:bg-secondary flex px-3">
    <div class = "flex space-x-3 m-auto">
        <a class = "text-xs font-semibold text-3 uppercase" href = "/about">about</a>
        <a class = "text-xs font-semibold text-3 uppercase" href = "/privacy">data privacy</a>
        <a class = "text-xs font-semibold text-3 uppercase" href = "/imprint">imprint</a>
    </div>
    <a class = "text-xs font-semibold text-3 absolute right-5 top-0 bottom-0 h-fit  ml-auto my-auto" href="/public/licenses.txt">TUMLive <i class="fas fa-heart text-danger"></i> OpenSource</a>
</footer>
{{end}}