<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <title>TUM Live</title>
        {{ template "headImports" .VersionTag }}
    </head>
    <body>
        {{- /*gotype: github.com/joschahenningsen/TUM-Live/web.IndexData*/ -}}
        {{ template "header" .TUMLiveContext }}
        <div class="text-3 mx-auto w-full p-6 md:w-1/2 2xl:max-w-screen-xl">
            <div class="tum-live-markdown pb-10">
                {{ .Text }}
            </div>
        </div>
    </body>
</html>
