<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <title>{{.Branding.Title}}</title>
    <link rel="canonical" href="{{.IndexData.CanonicalURL.Info .Name}}" />
    {{template "headImports" .VersionTag}}
</head>
<body>
{{- /*gotype: github.com/joschahenningsen/TUM-Live/web.IndexData*/ -}}
{{template "header" .TUMLiveContext}}
<div class="w-full md:w-1/2 2xl:max-w-screen-xl mx-auto p-6 text-3">
    <div class = "tum-live-markdown pb-10">
        {{.Text}}
    </div>
</div>
</body>
</html>
