<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <title>TUM Live | Login</title>
        {{ template "headImports" .VersionTag }}
    </head>
    <body>
        {{- /*gotype: github.com/joschahenningsen/TUM-Live/web.LoginPageData*/ -}}
        {{ template "header" }}
        <div class="md:6/12 m-auto my-10 mt-24 w-10/12 bg-gray-50 shadow-md dark:bg-secondary lg:w-4/12">
            <div
                class="rounded border border-gray-300 py-8 px-8 dark:border-gray-500"
                x-data="{ showInternalLogin: {{ not .UseSAML }} }"
            >
                <h1 class="sr-only">Login</h1>
                {{ if .UseSAML }}
                    <div class="flex flex-col text-center">
                        <a
                            href="/saml/out"
                            class="w-full rounded p-2 font-semibold text-gray-300 hover:bg-blue-700 hover:text-white"
                            style="background-color: {{ if .IDPColor }}
                                {{ .IDPColor }}
                            {{ else }}
                                #3070B3
                            {{ end }}"
                        >
                            {{ .IDPName }}
                        </a>
                        <div
                            x-show="!showInternalLogin"
                            class="text-2 mt-7 border-t border-gray-300 pt-4 dark:border-gray-500"
                        >
                            Or
                            <button @click="showInternalLogin = true" class="font-semibold underline">
                                use an internal account
                            </button>
                        </div>
                    </div>
                {{ end }}
                <form
                    x-data="{ref: document.referrer}"
                    id="loginForm"
                    method="post"
                    class="mt-6"
                    x-show="showInternalLogin"
                >
                    <input x-model="ref" type="hidden" name="ref" />
                    <div class="my-5 text-sm">
                        <label for="username" class="hidden">Username</label>
                        <input
                            type="text"
                            name="username"
                            id="username"
                            placeholder="Username"
                            autocomplete="off"
                            {{ if not .UseSAML }}autofocus{{ end }}required
                        />
                    </div>
                    <div class="my-5 text-sm">
                        <label for="password" class="hidden">Password</label>
                        <input type="password" name="password" id="password" placeholder="Password" required />
                    </div>
                    <button class="btn" type="submit">Login</button>
                    {{ if .Error }}
                        <p class="text-warn">Couldn't log in. Please double check your credentials.</p>
                    {{ end }}
                </form>
            </div>
        </div>
    </body>
</html>
