<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Setup</title>
    {{template "headImports" .VersionTag}}
</head>
{{- /*gotype: github.com/TUM-Dev/gocast/web.LoginPageData*/ -}}
<body>
{{template "header"}}
<div class="lg:w-4/12 md:6/12 w-10/12 m-auto mt-24 shadow-md">
    <div class="py-8 px-8 rounded border border-gray-500">
        <h1 class="font-medium text-2xl mt-3 text-center text-4">Create your Password:</h1>
        <form id="passwordForm" method="post" class="mt-6" x-data="{p1:'', p2:''}">
            <div class="my-5 text-sm">
                <label for="password" class="block text-5">Password</label>
                <input type="password" name="password" id="password" required x-model="p1"
                       class="rounded-sm px-4 py-3 mt-3 focus:outline-none w-full dark:text-white text-black" placeholder="Password"/>
            </div>
            <div class="my-5 text-sm">
                <label for="passwordConfirm" class="block text-5">Confirm</label>
                <input type="password" name="passwordConfirm" id="passwordConfirm" required x-model="p2"
                       class="rounded-sm px-4 py-3 mt-3 focus:outline-none w-full dark:text-white text-black" placeholder="Confirm"/>
            </div>
            {{if .Error}}<p class="text-warn">Your password wasn't saved. Please verify that it matches the
                confirmation and that it's sufficiently secure.</p>{{end}}
            <p x-text="`Passwords don't match`" class="text-warn" x-show="p1!==p2"></p>
            <button class="block text-center text-white bg-gray-800 p-3 duration-300 rounded-sm hover:bg-black w-full disabled:bg-gray-400 disabled:hover:bg-gray-400" :disabled="p1!==p2">
                Set Password
            </button>
        </form>
    </div>
</div>
</body>
</html>
