<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <title>TUM Live</title>
    {{template "headImports" .VersionTag}}
</head>
<body>
{{- /*gotype: github.com/joschahenningsen/TUM-Live/web.IndexData*/ -}}
{{template "header" .TUMLiveContext}}
<div class="w-full md:w-1/2 2xl:max-w-screen-xl mx-auto p-6 text-3">
    <h1 class="text-1">Datenschutzerklärung</h1>
    <p class="pl-6">
        Für die Technische Universität München ist Datenschutz ein wichtiges Anliegen. Wir möchten, dass Sie wissen,
        wann wir welche Daten speichern und wie wir sie verwenden. Personenbezogene Daten werden auf diesem zentralen
        Web-Server der Universität (www.tum.de) nur im technisch notwendigen Umfang erhoben. Die Datenverarbeitung
        unterliegt den geltenden datenschutzrechtlichen Bestimmungen, insbesondere der Datenschutz-Grundverordnung
        (DSGVO) dem Bayerischen Datenschutzgesetz (BayDSG) und dem Telemediengesetz (TMG).
        <br>
        Nachfolgend informieren wir Sie über Art, Umfang und Zweck der Erhebung und Verwendung personenbezogener Daten.
        Diese Informationen können jederzeit von unserer Webseite abgerufen werden.
    </p>

    <h3 class="mt-2 border-l-4 border-gray-500 pl-2">Verwendete personenbezogene Daten</h3>
    <p class="pl-6">
        Bei einer Anmeldung werden die Folegenden personenbezogenen Daten erhoben:
    </p>
    <ul class="list-disc pl-10">
        <li>Anonymer personenbezogener Identifier ("Obfuscated ID")</li>
        <li>LRZ ID</li>
        <li>Matrikelnummer</li>
        <li>Name</li>
        <li>Kursanmeldungen aus TUMOnline</li>
    </ul>
    <p class="pl-6">
        Die zum Login verwendeten Daten werden ausschließlich zur identifizierung an den TUM-weiten identity Provider
        gesendet und im Anschluss verworfen.
    </p>

    <h3 class="mt-2 border-l-4 border-gray-500 pl-2">Protokollierung</h3>
    <p class="pl-6">
        Wenn Sie diese Internetseite aufrufen, übermitteln Sie über Ihren Internetbrowser Daten an unseren Webserver.
        Die folgenden Daten werden während einer laufenden Verbindung zur Kommunikation zwischen Ihrem Internetbrowser
        und unserem Webserver temporär in einer Logdatei aufgezeichnet:
    </p>
    <ul class="list-disc pl-10">
        <li>IP-Adresse des anfragenden Rechners</li>
        <li>Datum und Uhrzeit des Zugriffs</li>
        <li>Name, URL und übertragene Datenmenge der abgerufenen Datei</li>
        <li>Zugriffsstatus (angeforderte Datei übertragen, nicht gefunden etc.)</li>
        <li>Erkennungsdaten des verwendeten Browser- und Betriebssystems (sofern vom anfragenden Webbrowser
            übermittelt)
        </li>
        <li>Webseite, von der aus der Zugriff erfolgte (sofern vom anfragenden Webbrowser übermittelt)</li>
    </ul>
    <p class="pl-6 my-2">
        Die Verarbeitung der Daten in dieser Logdatei geschieht wie folgt:
    </p>
    <ul class="list-disc pl-10">
        <li>Die Logeinträge werden kontinuierlich automatisch ausgewertet, um Angriffe auf die Webserver erkennen und
            entsprechend reagieren zu können.
        </li>
        <li>In Einzelfällen, d.h. bei gemeldeten Störungen, Fehlern und Sicherheitsvorfällen, erfolgt eine manuelle
            Analyse.
        </li>
        <li>Logeinträge, die älter als sieben Tage sind, werden durch Kürzung der IP-Adresse anonymisiert.</li>
        <li>Die anonymisierten Logs werden zur Erstellung von Zugriffsstatistiken verwendet. Die hierfür eingesetzte
            Software wird lokal von uns betrieben.
        </li>
    </ul>
    <h3 class="mt-2 border-l-4 border-gray-500 pl-2">Cookies</h3>
    <p class="pl-6">
        Um den Funktionsumfang unseres Internetangebotes zu erweitern und die Nutzung für Sie komfortabler zu gestalten,
        verwenden wir zum Teil so genannte „Cookies". Mit Hilfe dieser Cookies können bei dem Aufruf unserer Webseite
        Daten auf Ihrem Rechner gespeichert werden. Sie können das Speichern von Cookies jedoch deaktivieren oder Ihren
        Browser so einstellen, dass Cookies nur für die Dauer der jeweiligen Verbindung zum Internet gespeichert werden.
        Hierdurch könnte allerdings der Funktionsumfang unseres Angebotes eingeschränkt werden.
        <br>
        Für einige Funktionen (gespeicherte Einstellungen wie Lautstärke oder ausgeblendete Kurse) werden außerdem Daten
        im Webstorage Ihres Browsers gespeichert. Diese werden nicht an unsere Server übertragen.
    </p>
</div>
</body>
</html>
