<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {{if and .VersionTag (eq .VersionTag "development")}}
    <script defer src="/static/node_modules/alpinejs/dist/cdn.js"></script>
    {{else}}
    <script defer src="/static/node_modules/alpinejs/dist/cdn.min.js"></script>
    {{end}}
    <script defer src="/static/node_modules/@alpinejs/persist/dist/cdn.min.js"></script>
    <script defer src="/static/node_modules/@alpinejs/focus/dist/cdn.min.js"></script>

    <script src="/static/assets/ts-dist/watch.bundle.js?v={{if .VersionTag}}{{.VersionTag}}{{else}}development{{end}}"></script>
    <title>test</title>
</head>
<body>
<div x-data="watch.pollContext()">

</div>
<div x-data="watch.chatContext(12845, {ID: 1, name: 'admin', isAdmin: true})">
    <div x-data="watch.chatPromptContext(12845)"
         style="padding: 16px; margin: 8px; border: 3px solid blue;">
        <div>
            <template x-if="emojis.hasSuggestions()">
                <template x-for="(emoji, i) in emojis.suggestions">
                    <button type="button" @click="addEmoji(emoji.emoji)" x-html="emoji.emoji"
                    :style="i === emojis.emojiIndex ? 'border: 3px solid red' : ''"></button>
                </template>
            </template>
        </div>
        <div>
            <template x-if="users.hasSuggestions()">
                <template x-for="user in users.suggestions">
                    <button type="button" @click="addAddressee(user)" x-text="user.name"></button>
                </template>
            </template>
        </div>
        <label>
            <input type="checkbox" name="anonymous" id="anonymous" class="hidden"
                   x-model="isAnonymous">
            <input id = "chat-input"
                   type="text" spellcheck="true" maxlength="200"
                   @keyup="e => keyup(e)"
                   x-model="message"
                   style="width: 80%;">
            <button type="button" @click="send()">SEND</button>
        </label>
    </div>
    <button type="button" @click="sortLiveFirst()">Sort Live First</button>
    <button type="button" @click="sortPopularFirst()">Sort Popular First</button>
    <template x-for="m in messages.get(chatSortFn)">
        <div style="border: 1px solid lightgrey; padding: 4px; margin-bottom: 8px;">
            <div x-show="!m.visible" style="color: grey">This message is only visible to you and admins.</div>
            <div x-show="m.resolved" style="background-color: green; height: 16px; width: 16px;"></div>
            <span x-html="`${m.name}: ${m.message}`"></span>
            <br>
            <template x-for="(reactionGroup, i) in m.aggregatedReactions">
                <button type="button" :title="reactionGroup.namesPretty"
                        @click="watch.reactToMessage(m.ID, reactionGroup.emojiName)"
                        style="margin-right: 4px;">
                    <span x-text="reactionGroup.emoji"></span>
                    <span x-text="reactionGroup.reactions.length"></span>
                </button>
            </template>
            <template x-for="reply in m.replies">
                <p style="margin-left: 16px;" x-html="`> ${reply.name}: ${reply.message}`"></p>
            </template>
        </div>
    </template>
</div>
</body>
</html>