<!DOCTYPE html>
<html lang="en" class="dark">
{{- /*gotype: github.com/TUM-Dev/gocast/web*/ -}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{.Branding.Description}}"/>
    <link rel="manifest" href="/static/assets/manifest.json">

    <title>{{.Branding.Title}} | Settings</title>

    {{if and .VersionTag (eq .VersionTag "development")}}
    <script defer src="/static/node_modules/alpinejs/dist/cdn.js"></script>
    {{else}}
    <script defer src="/static/node_modules/alpinejs/dist/cdn.min.js"></script>
    {{end}}
    <script src="static/assets/init.js"></script>
    <script src="/static/assets/ts-dist/global.bundle.js?v={{if .VersionTag}}{{.VersionTag}}{{else}}development{{end}}"></script>

    <link href="/static/assets/css/icons.css?v={{if .VersionTag}}{{.VersionTag}}{{else}}development{{end}}"
          rel="stylesheet">
    <link href="/static/assets/css-dist/home.css?v={{if .VersionTag}}{{.VersionTag}}{{else}}development{{end}}"
          rel="stylesheet">
    <style>[x-cloak] {
            display: none !important;
        }</style>
</head>

<body class="h-screen flex flex-col items-stretch tum-live-bg">
<header class="text-3 flex z-50 w-full items-center px-3 py-2 h-16 justify-between shrink-0 grow-0">
    <div class="flex items-center">
        <a href="/" class="mx-3" type="button" id="logo" title="Start">
            <img src="/logo.svg" width="42" alt="TUM-Live Logo">
        </a>
    </div>
</header>
<main id="content" class="flex justify-center grow h-full overflow-y-scroll" )>
    <article class="tum-live-settings-grid" x-data=" { err: '' } ">
        <header>
            <div class="flex flex-row justify-between">
                <h1 class="font-bold text-3">Settings</h1>
                <div class="h-fit w-fit">
                    {{template "close-button"}}
                </div>
            </div>
        </header>
        <div x-cloak x-show="err!==''" class="bg-danger/25 text-sm rounded-lg px-2 py-1 space-x-3 py-2">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <span x-text="err">Error</span>
        </div>
        <section
                x-data="{initialName: '{{.TUMLiveContext.User.GetPreferredName}}', name: '{{.TUMLiveContext.User.GetPreferredName}}'}">
            <h2>Preferred Name<span class="italic font-bold pl-2">You can change this once every three months.</span>
            </h2>
            <div class="grid gap-y-2">
                <label for="displayName">
                    <input class="tum-live-input" type="text" x-model="name" id="displayName" {{ if not
                    .TUMLiveContext.User.PreferredNameChangeAllowed }} readonly {{ end }}>
                </label>
                <button type="button" :disabled="name === initialName"
                        class="tum-live-input-submit tum-live-button-primary py-2 text-sm"
                        @click="global.updatePreference(global.UserSetting.Name, name).then((r) => {err=r; if(r==='') {initialName=name;}})">
                    Update Name
                </button>
            </div>
        </section>
        <section x-data="{ currentGreeting: {{toJson .TUMLiveContext.User.GetPreferredGreeting}}}">
            <h2>Preferred greeting</h2>
            <input class="w-auto" type="radio" name="greet" value="Moin" id="greeting1" x-model="currentGreeting"
                   :checked="currentGreeting==='Moin'"
                   @change="global.updatePreference(global.UserSetting.Greeting, currentGreeting).then((r) => {err=r})">
            <label for="greeting1">Moin</label><br>
            <input class="w-auto" type="radio" name="greet" value="Servus" id="greeting2" x-model="currentGreeting"
                   :checked="currentGreeting==='Servus'"
                   @change="global.updatePreference(global.UserSetting.Greeting, currentGreeting).then((r) => {err=r;})">
            <label for="greeting2">Servus</label>
        </section>
        <section x-data="{ playbackspeeds: {{toJson .TUMLiveContext.User.GetPlaybackSpeeds}}}">
            <h2>Playback Speeds</h2>
            <div class="flex flex-row">
                <template x-for="ps in playbackspeeds">
                    <span class="mr-2">
                        <label>
                            <input :disabled="ps.speed===1" type="checkbox" x-model="ps.enabled" class="w-auto"
                                   @change="global.updatePreference(global.UserSetting.PlaybackSpeeds, playbackspeeds)">
                            <span x-text="ps.speed"></span>
                        </label>
                    </span>
                </template>
            </div>
        </section>
        <section x-data="{ playbackspeeds: {{toJson .TUMLiveContext.User.GetCustomSpeeds}}, newSpeed: ''}">
            <h2>Custom Speeds</h2>
            <div class="flex flex-row">
                <template x-for="ps in playbackspeeds">
                    <span class="mr-2">
                        <button class="tum-live-input-submit tum-live-button-tertiary p-1 text-sm" style="min-width: 5ch"
                                x-text="ps"
                                @click="playbackspeeds.splice(playbackspeeds.indexOf(ps), 1); global.updatePreference(global.UserSetting.CustomSpeeds, playbackspeeds);"></button>
                    </span>
                </template>
                <style>
                    input[type='number'] {
                        -moz-appearance:textfield;
                        outline: 0;
                        border-color: #1f2937;
                        border-width: 0 0 2px;
                    }

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }
                </style>
                <input x-model="newSpeed" type="number" min="0.01" max="5" maxlength="4" style="width: 7ch;" class="bg-transparent" @change="newSpeed = global.sanitizeInputSpeed(newSpeed)" placeholder="1.00">
                <button class="tum-live-input-submit tum-live-button-primary p-1 text-sm ml-2 pl-2 pr-2" @click="newSpeed = global.sanitizeInputSpeed(newSpeed); if(global.checkInputSpeed(newSpeed, playbackspeeds)) {playbackspeeds.push(newSpeed); playbackspeeds.sort(); global.updatePreference(global.UserSetting.CustomSpeeds, playbackspeeds); newSpeed='';}">Add</button>
            </div>
        </section>
        <section>
            <h2>Privacy & Data Protection</h2>
            <a href="/api/users/exportData" download="personal_data.json"
               class="tum-live-input-submit tum-live-button-muted block py-2 text-center text-sm">
                <i class="fas fa-download"></i> Export my personal data
            </a>
        </section>

        <footer class="text-5 text-sm text-center">
            <i>Not a lot going on here <b>yet</b>.
                <a class="underline" target="_blank" rel="noopener"
                   href="https://github.com/TUM-Dev/gocast/issues/new/choose">Open an issue</a>
                if you have any ideas what settings you miss :)
            </i>
        </footer>
    </article>
</main>
</body>
</html>
