<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    {{- /*gotype: TUM-Live/web.WatchPageData*/ -}}
    <title>{{.Course.Name}} | {{.Stream.Name}}</title>
    <script>window.HELP_IMPROVE_VIDEOJS = false;</script>
    <link rel="stylesheet" href="/assets/css-dist/main.css">
    <link rel="stylesheet" href="/dist/video.js/dist/video-js.min.css">
</head>
<body>
<video
        id="my-video"
        class="video-js w-full"
        controls
        preload="auto"
        data-setup='{"fluid": true}'>
    <source src="{{if eq .Version "PRES"}}{{.Stream.PlaylistUrlPRES}}{{else if eq .Version "CAM"}}{{.Stream.PlaylistUrlCAM}}{{else}}{{.Stream.PlaylistUrl}}{{end}}"
            type="application/x-mpegURL"/>
    <p class="vjs-no-js">
        To view this video please enable JavaScript.
    </p>
</video>
</body>
<script src="/dist/video.js/dist/video.min.js"></script>
<script src="/dist/@videojs/http-streaming/dist/videojs-http-streaming.min.js"></script>
<script src="/dist/videojs-contrib-quality-levels/dist/videojs-contrib-quality-levels.min.js"></script>
<script src="/dist/videojs-hls-quality-selector/dist/videojs-hls-quality-selector.min.js"></script>
<script>
    let player = videojs('my-video', {
        playbackRates: [0.5, 0.75, 1, 1.25, 1.5, 1.75, 2],
        html5: {
            hls: {
                overrideNative: true
            },
            nativeVideoTracks: false,
            nativeAudioTracks: false,
            nativeTextTracks: false
        }
    });
    player.play();
    player.hlsQualitySelector();
</script>
</html>