<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    {{- /*gotype: TUM-Live/web.WatchPageData*/ -}}
    {{$stream := .IndexData.TUMLiveContext.Stream}}
    {{$course := .IndexData.TUMLiveContext.Course}}
    <title>{{$course.Name}} | {{$stream.Name}}</title>
    <script>window.HELP_IMPROVE_VIDEOJS = false;</script>
    <script src="/static/assets/ts-dist/watch.bundle.js?v={{.IndexData.VersionTag}}"></script>
    <link rel="stylesheet" href="/static/assets/css-dist/main.css">
    <link rel="stylesheet" href="/static/assets/css/icons.css">
    <link rel="stylesheet" href="/static/node_modules/video.js/dist/video-js.min.css">
    <link rel="stylesheet" href="/static/node_modules/videojs-seek-buttons/dist/videojs-seek-buttons.css">
</head>
<body class="overflow-hidden">
<input type="hidden" id="streamID" value="{{$stream.Model.ID}}">
<video
        id="my-video"
        class="video-js w-full"
        controls
        preload="auto"
        data-setup='{"fluid": true}'
        {{if or .IndexData.TUMLiveContext.Stream.LiveNow .IndexData.TUMLiveContext.Stream.Recording}}poster="/public/default_banner.jpg">
<source src="{{if eq .Version "PRES"}}{{$stream.PlaylistUrlPRES}}{{else if eq .Version "CAM"}}{{$stream.PlaylistUrlCAM}}{{else}}{{$stream.PlaylistUrl}}{{end}}{{if .Unit}}?wowzaplaystart={{.Unit.UnitStart}}&wowzaplayduration={{.Unit.GetUnitDurationMS}}{{else if $stream.StartOffset}}?wowzaplaystart={{$stream.StartOffset}}&wowzaplayduration={{$stream.EndOffset}}{{end}}"
            type="application/x-mpegURL"/>
    <p class="vjs-no-js">
        To view this video please enable JavaScript.
    </p>
</video>
</body>
<script>
    let player = videojs('my-video', {
        playbackRates: [0.5, 0.75, 1, 1.25, 1.5, 1.75, 2],
        html5: {
            vhs: {
                overrideNative: true
            },
            nativeVideoTracks: false,
            nativeAudioTracks: false,
            nativeTextTracks: false
        }
    });
    {{if not $stream.LiveNow}}
    player.seekButtons({
        backIndex: 0,
        forward: 15,
        back: 15
    });
    {{end}}
    {{if $stream.Silences}}
    watch.skipSilence({{$stream.GetSilencesJson}});
    {{end}}
</script>
</html>
