<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <title>{{.Course.Name}}: {{.Stream.Name}} | TUM Live</title>
    {{template "headImports"}}
    <script>window.HELP_IMPROVE_VIDEOJS = false;</script>
    <script async src="/assets/ts-dist/watch.js"></script>
    <link rel="stylesheet" href="/dist/video.js/dist/video-js.min.css">
</head>
<body class="bg-primary h-full">
{{- /*gotype: TUM-Live/web.WatchPageData*/ -}}
{{template "header" .IndexData}}

<div class="flex flex-col md:flex-row h-full w-full flex-wrap pt-20">
    <div class="watchContent w-full pt-3 px-2 md:px-8 md:w-4/6 lg:w-9/12 mx-auto mx:h-full overflow-y-scroll">
        <video
                id="my-video"
                class="video-js w-full"
                controls
                preload="auto"
                data-setup='{"fluid": true}'>
            <source src="{{.Stream.PlaylistUrl}}" type="application/x-mpegURL"/>
            <p class="vjs-no-js">
                To view this video please enable JavaScript.
            </p>
        </video>
        <h1 class="text-gray-300 text-2xl">{{.Stream.Name}}</h1>
        <h1 class="text-gray-300 text-xl">{{.Course.Name}}</h1>
    </div>
    <div class="md:relative chat border-t-2 mt-2 md:mt-0 md:border-t-0 md:border-l-2 border-secondary md:w-2/6 lg:w-1/6 overflow-scroll text-white overflow-x-hidden overflow-y-scroll pt-3">
        <div class="bg-secondary rounded p-2 mx-2">Chat will be available soon &trade;</div>
        <form id="chatForm" class="border-b-2 focus-within:border-gray-300 border-secondary inset-x-0 absolute bottom-0 flex mb-2 px-3">
            <input id="chatInput" type="text" class="border-none" placeholder="Send a message">
            <button class="fas fa-paper-plane text-gray-400 hover:text-purple-500 focus:outline-none"></button>
        </form>
    </div>
</div>
<script src="/dist/video.js/dist/video.min.js"></script>
<script src="/dist/@videojs/http-streaming/dist/videojs-http-streaming.min.js"></script>
<script src="/dist/videojs-contrib-quality-levels/dist/videojs-contrib-quality-levels.min.js"></script>
<script src="/dist/videojs-hls-quality-selector/dist/videojs-hls-quality-selector.min.js"></script>
<script>
    let player = videojs('my-video');
    player.play();
    player.hlsQualitySelector();
    new Watch(player);
</script>
</body>
</html>
