<!DOCTYPE html>
<html lang="en" class="h-full">
{{- /*gotype: TUM-Live/web.WatchPageData*/ -}}
<head>
    <meta charset="UTF-8">
    <title>{{.Course.Name}}: {{.Stream.Name}} | TUM Live</title>
    {{template "headImports" .IndexData.VersionTag}}
    <script>window.HELP_IMPROVE_VIDEOJS = false;</script>
    <script async src="/assets/ts-dist/watch.js?v={{.IndexData.VersionTag}}"></script>
    <link rel="stylesheet" href="/dist/video.js/dist/video-js.min.css">
    <link rel="stylesheet" href="/dist/videojs-seek-buttons/dist/videojs-seek-buttons.css">
</head>
<body class="bg-primary h-full overflow-hidden">
{{template "header" .IndexData}}
<div class="flex h-full md:flex-row w-full flex-wrap pt-20">
    <input type="hidden" id="streamID" value="{{.Stream.Model.ID}}">
    <div class="watchContent w-full pt-3 px-2 md:px-8 {{if .Course.ChatEnabled}}md:w-4/6{{end}} lg:w-8/12 2xl:max-w-screen-xl mx-auto mx:h-full overflow-scroll overflow-x-hidden">
        <video
                id="my-video"
                class="video-js w-full"
                controls
                preload="auto"
                data-setup='{"fluid": true}'>
            <source src="{{if eq .Version "PRES"}}{{.Stream.PlaylistUrlPRES}}{{else if eq .Version "CAM"}}{{.Stream.PlaylistUrlCAM}}{{else}}{{.Stream.PlaylistUrl}}{{end}}{{if .Unit}}?wowzaplaystart={{.Unit.UnitStart}}&wowzaplayduration={{.Unit.GetUnitDurationMS}}{{else if .Stream.StartOffset}}?wowzaplaystart={{.Stream.StartOffset}}&wowzaplayduration={{.Stream.EndOffset}}{{end}}"
                    type="application/x-mpegURL"/>
            <p class="vjs-no-js">
                To view this video please enable JavaScript.
            </p>
        </video>
        <div class="flex justify-between align-middle mt-4">
            <h1 class="text-gray-300 text-2xl">
                {{if .Stream.Name}}{{.Stream.Name}}{{else}}Lecture: {{.Stream.Start.Month}} {{printf "%02d." .Stream.Start.Day}} {{.Stream.Start.Year}}{{end}}
            </h1>
            <p class="text-xl text-gray-400 flex space-x-2">
                {{if .Stream.LiveNow}}
                    <span id="viewerCount"></span>
                    <i class="fas fa-users text-gray-400"></i>
                {{else if .Course.DownloadsEnabled}}
                    <a class="flex"
                       title="Download Lecture"
                       href="/api/download/{{.Stream.Model.ID}}/{{.Course.Slug}}/{{.Course.Slug}}-{{printf "%v-%02d-%04d" .Stream.Start.Month .Stream.Start.Day .Stream.Start.Year}}"
                       download>
                        <i class="fas fa-download text-gray-400 hover:text-purple-500"></i>
                    </a>
                {{end}}
                <i title="Copy HLS URL" class="fas fa-link hover:text-purple-500"
                   onclick="copyToClipboard('{{if eq .Version "PRES"}}{{.Stream.PlaylistUrlPRES}}{{else if eq .Version "CAM"}}{{.Stream.PlaylistUrlCAM}}{{else}}{{.Stream.PlaylistUrl}}{{end}}{{if .Unit}}?wowzaplaystart={{.Unit.UnitStart}}&wowzaplayduration={{.Unit.GetUnitDurationMS}}{{else if .Stream.StartOffset}}?wowzaplaystart={{.Stream.StartOffset}}&wowzaplayduration={{.Stream.EndOffset}}{{end}}')"></i>
            </p>
        </div>
        <a href="/course/{{.Course.Year}}/{{.Course.TeachingTerm}}/{{.Course.Slug}}"><h2
                    class="text-gray-300 hover:text-white hover:underline text-xl">{{.Course.Name}}</h2></a>
        {{if .Stream.Description}}
            <div class="text-gray-300 p-4 border-t-2 border-secondary video-description">
                <span class="font-semibold">Video Description:</span>
                {{.Description}}
            </div>
        {{end}}
    </div>
    {{if .Course.ChatEnabled}}
        <div class="hidden md:flex flex-col w-full md:h-full border-t-2 mt-2 md:mt-0 md:border-t-0 md:border-l-2 border-secondary md:w-2/6 lg:w-1/6 text-white pt-3">
            <div id="chatBox" class="overflow-scroll overflow-x-hidden overflow-y-scroll" style="flex: 2;">
                {{range $chat := .Stream.Chats}}
                    <div class="rounded p-2 mx-2">
                        <div class="flex flex-row">
                            <p class="flex-grow font-semibold {{if $chat.Admin}}text-warn{{end}}">{{$chat.UserName}}</p>
                            <p class="text-gray-500 font-thin">
                                {{printf "%02d:%02d" $chat.SendTime.Hour $chat.SendTime.Minute}}
                            </p>
                        </div>
                        <p class="text-gray-300 break-words">
                            {{$chat.Message}}
                        </p>
                    </div>
                {{end}}
            </div>
            <form id="chatForm"
                  class="border-b-2 focus-within:border-gray-300 border-secondary bg-primary inset-x-0 flex px-3"
                  style="">
                <input type="checkbox" name="anonymous" id="anonymous" class="hidden">
                <label for="anonymous" class="flex items-center cursor-pointer text-gray-400 hover:text-white"
                       title="Don't show my name.">
                    <i class="fas fa-ghost"></i>
                </label>
                <label for="chatInput" class="hidden">Chat input</label><input
                        maxlength="200"
                        {{if not (or .IndexData.IsStudent .IndexData.IsUser)}}disabled
                        placeholder="Log in to chat" {{else}}
                        placeholder="Send a message" {{end}}autocomplete="off" id="chatInput" type="text"
                        class="border-none">
                <button class="fas fa-paper-plane text-gray-400 hover:text-purple-500 focus:outline-none"></button>
            </form>
        </div>
    {{end}}
</div>
<script src="/dist/video.js/dist/video.min.js"></script>
<script src="/dist/@videojs/http-streaming/dist/videojs-http-streaming.min.js"></script>
<script src="/dist/videojs-contrib-quality-levels/dist/videojs-contrib-quality-levels.min.js"></script>
<script src="/dist/videojs-hls-quality-selector/dist/videojs-hls-quality-selector.min.js"></script>
<script src="/dist/videojs-seek-buttons/dist/videojs-seek-buttons.min.js"></script>
<script>
    let player = videojs('my-video', {
        playbackRates: [0.5, 0.75, 1, 1.25, 1.5, 1.75, 2],
        html5: {
            hls: {
                overrideNative: true
            },
            nativeVideoTracks: false,
            nativeAudioTracks: false,
            nativeTextTracks: false
        }
    });
    player.play();
    {{if not .Stream.LiveNow}}
    player.seekButtons({
        forward: 15,
        back: 15
    });
    {{end}}
    player.hlsQualitySelector();
</script>
</body>
</html>
