/*
account (Account API)

The account API provides information on users, user accounts, user profiles, and user account attributes.

API version: 5.1.0-SNAPSHOT-490b359
Contact: campusonline@tugraz.at
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package campusonline

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


type UsersAPI interface {

	/*
	UsersRestServiceGetUsers An endpoint for retrieving or searching through all account resources of natural persons. For security reasons, even though this operation is read-only, it is implemented as a POST endpoint. This ensures that the username is never passed as a query parameter, preventing it from appearing in access logs.

	Scopes: [co-account.read]

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUsersRestServiceGetUsersRequest
	*/
	UsersRestServiceGetUsers(ctx context.Context) ApiUsersRestServiceGetUsersRequest

	// UsersRestServiceGetUsersExecute executes the request
	//  @return UserPageResource
	UsersRestServiceGetUsersExecute(r ApiUsersRestServiceGetUsersRequest) (*UserPageResource, *http.Response, error)
}

// UsersAPIService UsersAPI service
type UsersAPIService service

type ApiUsersRestServiceGetUsersRequest struct {
	ctx context.Context
	ApiService UsersAPI
	accountStatusKey *[]AccountStatus
	accountTypeKey *[]string
	accountUid *[]string
	cursor *string
	email *[]string
	externalIdentityId *[]string
	limit *int32
	offset *int32
	personUid *[]string
	sort *string
	username *[]string
}

// An account has an account status, which can be filtered using this parameter.
func (r ApiUsersRestServiceGetUsersRequest) AccountStatusKey(accountStatusKey []AccountStatus) ApiUsersRestServiceGetUsersRequest {
	r.accountStatusKey = &accountStatusKey
	return r
}

// A user can have multiple accounts of different account types. This parameter allows filtering users who possess at least one of the specified account types.
func (r ApiUsersRestServiceGetUsersRequest) AccountTypeKey(accountTypeKey []string) ApiUsersRestServiceGetUsersRequest {
	r.accountTypeKey = &accountTypeKey
	return r
}

// The result is restricted to those users who possess an account with the specified account_uid. Multiple account_uid&#39;s can also be passed at once.
func (r ApiUsersRestServiceGetUsersRequest) AccountUid(accountUid []string) ApiUsersRestServiceGetUsersRequest {
	r.accountUid = &accountUid
	return r
}

// Parameter used to navigate through the pages of the current QueryPageResource. To move to the next page, the value of this parameter should be the ‘nextCursor&#39; field from the previous QueryPageResource. If there are no more pages, ‘nextCursor’ will be empty. Note: When the ‘offset’ or ‘sort’ parameters are used, no ‘nextCursor’ will be calculated, as offset-based paging is used instead of cursor-based paging.
func (r ApiUsersRestServiceGetUsersRequest) Cursor(cursor string) ApiUsersRestServiceGetUsersRequest {
	r.cursor = &cursor
	return r
}

// Each account has an associated email address. This parameter allows filtering users by specific email addresses.
func (r ApiUsersRestServiceGetUsersRequest) Email(email []string) ApiUsersRestServiceGetUsersRequest {
	r.email = &email
	return r
}

// An identifier that links an account in CAMPUSonline with an account in a central account management system. Multiple CAMPUSonline accounts can be linked to the same account in a central account management system. However, these should address the same natural person.
func (r ApiUsersRestServiceGetUsersRequest) ExternalIdentityId(externalIdentityId []string) ApiUsersRestServiceGetUsersRequest {
	r.externalIdentityId = &externalIdentityId
	return r
}

// Specifies the maximum number of results to return per page and is essential for controlling pagination size.
func (r ApiUsersRestServiceGetUsersRequest) Limit(limit int32) ApiUsersRestServiceGetUsersRequest {
	r.limit = &limit
	return r
}

// The starting index for the page of results. If not specified, defaults to the beginning. Using this parameter disables cursor pagination.
func (r ApiUsersRestServiceGetUsersRequest) Offset(offset int32) ApiUsersRestServiceGetUsersRequest {
	r.offset = &offset
	return r
}

// Each natural person in CAMPUSonline has a unique person_uid, which is used to identify the user. This parameter allows filtering to a specific user. Multiple person_uid&#39;s can also be passed at once.
func (r ApiUsersRestServiceGetUsersRequest) PersonUid(personUid []string) ApiUsersRestServiceGetUsersRequest {
	r.personUid = &personUid
	return r
}

// Allows for sophisticated sorting of query results. It&#39;s structured as a comma-separated list, where each element specifies a field to sort by, optionally prefixed with a + or - to denote an ascending or descending order, respectively. By default, sorting is done in ascending order if no prefix is used. Additionally, the handling of null values can be customised by appending -nl (Nulls Last) or -nf (Nulls First) to each field.
func (r ApiUsersRestServiceGetUsersRequest) Sort(sort string) ApiUsersRestServiceGetUsersRequest {
	r.sort = &sort
	return r
}

// Each account has an associated username. This parameter allows filtering users by specific usernames.
func (r ApiUsersRestServiceGetUsersRequest) Username(username []string) ApiUsersRestServiceGetUsersRequest {
	r.username = &username
	return r
}

func (r ApiUsersRestServiceGetUsersRequest) Execute() (*UserPageResource, *http.Response, error) {
	return r.ApiService.UsersRestServiceGetUsersExecute(r)
}

/*
UsersRestServiceGetUsers An endpoint for retrieving or searching through all account resources of natural persons. For security reasons, even though this operation is read-only, it is implemented as a POST endpoint. This ensures that the username is never passed as a query parameter, preventing it from appearing in access logs.

Scopes: [co-account.read]

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUsersRestServiceGetUsersRequest
*/
func (a *UsersAPIService) UsersRestServiceGetUsers(ctx context.Context) ApiUsersRestServiceGetUsersRequest {
	return ApiUsersRestServiceGetUsersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return UserPageResource
func (a *UsersAPIService) UsersRestServiceGetUsersExecute(r ApiUsersRestServiceGetUsersRequest) (*UserPageResource, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UserPageResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersAPIService.UsersRestServiceGetUsers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountStatusKey != nil {
		t := *r.accountStatusKey
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "account_status_key", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "account_status_key", t, "form", "multi")
		}
	}
	if r.accountTypeKey != nil {
		t := *r.accountTypeKey
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "account_type_key", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "account_type_key", t, "form", "multi")
		}
	}
	if r.accountUid != nil {
		t := *r.accountUid
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "account_uid", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "account_uid", t, "form", "multi")
		}
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.email != nil {
		t := *r.email
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "email", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "email", t, "form", "multi")
		}
	}
	if r.externalIdentityId != nil {
		t := *r.externalIdentityId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "external_identity_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "external_identity_id", t, "form", "multi")
		}
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.personUid != nil {
		t := *r.personUid
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "person_uid", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "person_uid", t, "form", "multi")
		}
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.username != nil {
		t := *r.username
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "username", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "username", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
