{{ define "terminalprompt" }}
    <svg viewBox="0 -9 3 24" aria-hidden="true" class="mr-3 h-6 w-auto flex-none overflow-visible text-pink-400">
        <path
            d="M0 0L3 3L0 6"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        ></path>
    </svg>
{{ end }}
