<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TUM Live | Administration</title>
    {{template "headImports"}}
    <script src="/static/assets/ts-dist/admin.js?v={{.IndexData.VersionTag}}"></script>
</head>
<body class="bg-primary dark">

{{- /*gotype: TUM-Live/web.AdminPageData*/ -}}
{{$curUser := .IndexData.TUMLiveContext.User}}
{{template "header" .IndexData.TUMLiveContext}}

<div class="container mx-auto">
    <div class="min-w-screen flex items-center justify-center">
        <div class="w-full lg:w-5/6">
            {{if eq $curUser.Role 1}}
                <div class="flex w-full bg-secondary">
                    <a href="/admin"
                       class="flex-grow p-2 px-4 hover:bg-primary{{if eq .Page "courses"}} bg-primary p-2 px-4 border-b-2 border-white text-white{{else}} text-gray-400{{end}}">Courses</a>
                    <a href="?users"
                       class="flex-grow p-2 px-4 hover:bg-primary{{if eq .Page "users"}} bg-primary p-2 px-4 border-b-2 border-white text-white{{else}} text-gray-400{{end}}">Users</a>
                    <a href="?lectureHalls"
                       class="flex-grow p-2 px-2 hover:bg-primary{{if eq .Page "lectureHalls"}} bg-primary p-2 px-4 border-b-2 border-white text-white{{else}} text-gray-400{{end}}">Lecture
                        Halls</a>
                    <a href="?schedule"
                       class="flex-grow p-2 px-2 hover:bg-primary{{if eq .Page "schedule"}} bg-primary p-2 px-4 border-b-2 border-white text-white{{else}} text-gray-400{{end}}">Schedule</a>
                    <a href="?workers"
                       class="flex-grow p-2 px-2 hover:bg-primary{{if eq .Page "workers"}} bg-primary p-2 px-4 border-b-2 border-white text-white{{else}} text-gray-400{{end}}">Workers</a>
                </div>
            {{end}}
            {{if and (eq $curUser.Role 1) (eq .Page "users")}}
                {{template "users" .Users}}
            {{else if and (or (eq $curUser.Role 1) (eq $curUser.Role 2)) (eq .Page "courses")}}
                {{template "courses" .Courses}}
            {{else if and (eq $curUser.Role 1) (eq .Page "lectureHalls")}}
                {{template "lectureHalls" .LectureHalls}}
            {{else if and (eq $curUser.Role 1) (eq .Page "workers")}}
                {{template "workers" .Workers}}
            {{else if and (eq $curUser.Role 1) (eq .Page "schedule")}}
                {{template "schedule"}}
            {{end}}
        </div>
    </div>
</div>

</body>
</html>