<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TUM Live | Create Course</title>
    {{template "headImports"}}
    <script defer async src="/assets/ts-dist/create-course.js"></script>
</head>
<body class="bg-primary">

{{- /*gotype: TUM-Live/web.CreateCourseData*/ -}}
{{template "header" .IndexData}}

<div class="text-white container mx-auto mt-4">
    <div class="min-w-screen flex items-center justify-center">
        <div class="w-full lg:w-5/6 p-3 bg-secondary rounded border border-gray-500">
            <h1>Create a new course:</h1>
            <form class="mt-3">
                <div class="flex mb-3 space-x-1">
                    <label class="hidden" for="courseID">TUM online id:</label>
                    <input class="w-4/5" id="courseID" name="courseID" type="text" autocomplete="off"
                           placeholder="TUMOnline ID"/>
                    <div id="loadCourseInfoBtn" class="btn w-1/5">Load Infos from TUMOnline</div>
                </div>
                <div class="flex space-x-1">
                    <label for="name" class="hidden">Course Title</label>
                    <input class="w-2/5" id="name" name="name" type="text"
                           autocomplete="off"
                           placeholder="Einführung in die Informatik (IN0001)"/>
                    <label for="teachingTerm" class="hidden">Course Title</label>
                    <input class="w-2/5" id="teachingTerm" name="teachingTerm" type="text"
                           autocomplete="off"
                           placeholder="Sommersemester 2021"/>
                    <label for="slug" class="hidden">Slug</label>
                    <input class="w-1/5" id="slug" name="slug" type="text"
                           autocomplete="off"
                           placeholder="eidi"/>
                </div>
                <span id="TUMOnlineInfo" class="text-warn hidden"></span>
                <div class="mt-3">
                    <h3>Visibility of this course</h3>
                    <div class="p-4 text-gray-300">
                        <label class="inline-flex items-center w-full" for="public">
                            <input class="mr-3 w-auto form-radio" type="radio" id="public" name="access" value="public"
                                   checked>
                            <span>Public: Everyone can see this course</span>
                        </label>
                        <label class="inline-flex items-center w-full" for="enrolled">
                            <input class="mr-3 w-auto form-radio" type="radio" id="enrolled" name="access"
                                   value="enrolled" disabled>
                            <span>Enrolled: Only students enrolled in TUMOnline can see this course</span>
                        </label>
                        <label class="inline-flex items-center w-full" for="loggedin">
                            <input class="mr-3 w-auto form-radio" type="radio" id="loggedin" name="access"
                                   value="loggedin">
                            <span>Logged in: Only users with a TUM account can see this course</span>
                        </label>
                    </div>
                    <h3 class="mt-4">Settings</h3>
                    <div class="p-4">
                        <div>
                            <label class="inline-flex items-center" for="enVOD">
                                <input class="w-auto form-checkbox" id="enVOD" type="checkbox" checked>
                                <span class="ml-2">Enable VOD</span>
                            </label>
                        </div>
                        <div>
                            <label class="inline-flex items-center" for="enDL">
                                <input class="w-auto form-checkbox" id="enDL" type="checkbox" checked>
                                <span class="ml-2">Enable Downloads</span>
                            </label>
                        </div>
                        <div>
                            <label class="inline-flex items-center" for="enChat">
                                <input class="w-auto form-checkbox" id="enChat" type="checkbox" checked>
                                <span class="ml-2">Enable Live Chat</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div id="createCourseBtn" class="btn">Create Course</div>
            </form>
        </div>
    </div>
</div>

</body>
</html>