<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TUM Live | Create Course</title>
    {{template "headImports"}}
    <script defer async src="/assets/ts-dist/create-course.js"></script>
</head>
<body class="bg-primary">

{{- /*gotype: TUM-Live/web.CreateCourseData*/ -}}
{{template "header" .IndexData}}

<div class="text-white container mx-auto mt-4">
    <div class="min-w-screen flex items-center justify-center">
        <div class="w-full lg:w-5/6 p-3 bg-secondary rounded border border-gray-500">
            <h1>Create a new course:</h1>
            <form id="createCourseForm" class="mt-3">
                <div class="flex mb-3 space-x-1">
                    <label class="hidden" for="courseID">TUM online id:</label>
                    <input class="w-4/5" id="courseID" name="courseID" type="text" autocomplete="off"
                           placeholder="TUMOnline ID"/>
                    <div id="loadCourseInfoBtn" class="btn w-1/5">Load Infos from TUMOnline</div>
                </div>
                <div class="flex space-x-1">
                    <label for="name" class="hidden">Course Title</label>
                    <input class="w-2/5" id="name" name="name" type="text"
                           autocomplete="off"
                           placeholder="Einführung in die Informatik (IN0001)"/>
                    <label for="teachingTerm" class="hidden">Teaching Term</label>
                    <input class="w-2/5" id="teachingTerm" name="teachingTerm" type="text"
                           autocomplete="off"
                           placeholder="SoSe2021"/>
                    <label for="slug" class="hidden">Slug</label>
                    <input class="w-1/5" id="slug" name="slug" type="text"
                           autocomplete="off"
                           placeholder="eidi"/>
                </div>
                <span id="TUMOnlineInfo" class="text-warn">Without a TUMOnline ID you won't be able to make this course public to participants only.
                    <a target="_blank" class="underline" href="https://github.com/joschahenningsen/TUM-Live/wiki/How-do-I-find-the-right-TUMOnline-ID-for-my-course%3F">How do I find the right TUMOnline ID for my course?</a>
                </span>
                <div class="mt-3">
                    {{template "course_settings"}}
                </div>
                <div id="createCourseBtn" class="btn">Create Course</div>
            </form>
        </div>
    </div>
</div>

</body>
</html>