<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TUM Live | Create Course</title>
    {{template "headImports"}}
    <script defer async src="/assets/ts-dist/edit-course.js"></script>
</head>
<body class="bg-primary">

{{- /*gotype: TUM-Live/web.EditCourseData*/ -}}
{{template "header" .IndexData}}

<div class="text-white container mx-auto mt-4">
    <div class="min-w-screen flex items-center justify-center">
        <div class="w-full lg:w-5/6">
            <h1>{{.Course.Name}}</h1>
            <h2>Lectures:</h2>
            <label class="hidden" for="courseID">CourseID<input id="courseID" type="text" class="hidden"
                                                                value="{{.Course.Model.ID}}"></label>
            <div>
                <ul class="bg-secondary rounded-xl p-2 sm:p-5 xl:p-6">
                    {{range $recording := .Course.Recordings}}
                        <li class="py-4">
                            <div class="grid grid-rows-3 grid-flow-col gap-4">
                                <div class="row-span-3 ">
                                    <div class="text-white font-semibold">{{$recording.Start.Month}} {{printf "%02d." $recording.Start.Day}} {{$recording.Start.Year}}</div>
                                    <div class="text-gray-300 font-sans">{{printf "%02d:%02d - %02d:%02d" $recording.Start.Hour $recording.Start.Minute $recording.Start.Hour $recording.Start.Minute}} </div>
                                    <div class="text-gray-400 font-sans">VoD</div>
                                </div>
                                <div class="col-span-2"><input type="text" value="{{$recording.Name}}"
                                                               placeholder="Lecture 2: Dark-Patterns I"></div>
                                <div class="row-span-2 col-span-2">
                                <textarea class="w-full h-full" placeholder="Tell your students something about this Lecture.
Perhaps a link to additional readings, a brief summary or a tweedback link."></textarea>
                                </div>
                            </div>
                        </li>
                    {{end}}
                    {{range $lecture := .Course.Streams }}
                        <li class="py-4">
                            <div class="grid grid-rows-3 grid-flow-col gap-4">
                                <div class="row-span-3 ">
                                    <div class="text-white font-semibold">{{$lecture.Start.Month}} {{printf "%02d." $lecture.Start.Day}} {{$lecture.Start.Year}}</div>
                                    <div class="text-gray-300 font-sans">{{printf "%02d:%02d - %02d:%02d" $lecture.Start.Hour $lecture.Start.Minute $lecture.Start.Hour $lecture.Start.Minute}} </div>
                                </div>
                                <div class="col-span-2"><input type="text" value="{{$lecture.Name}}"
                                                               placeholder="Lecture 2: Dark-Patterns I"></div>
                                <div class="row-span-2 col-span-2">
                                <textarea class="w-full h-full" placeholder="Tell your students something about this Lecture.
Perhaps a link to additional readings, a brief summary or a tweedback link."></textarea>
                                </div>
                            </div>
                        </li>
                    {{end}}
                </ul>
                <div class="hover:bg-primary">
                    <label for="name">
                        <input name="name" id="name" type="text" placeholder="L01: Binary Trees"/>
                        <span class="hidden">Lecture Name</span>
                    </label>
                    <label for="date">
                        <input name="date" id="date" type="date"/>
                        <span class="hidden">Date</span>
                    </label>
                    <label for="time">
                        <input name="time" id="time" type="time" step="900"/>
                        <span class="hidden">Time</span>
                    </label>
                    <div id="createLectureBtn" class="p-3 rounded bg-info text-white">
                        Add
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>