<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TUM Live | Create Course</title>
    {{template "headImports"}}
    <script defer async src="/assets/ts-dist/edit-course.js"></script>
    <link href="/dist/chart.js/dist/Chart.min.css" rel="stylesheet">
    <link href="/dist/nouislider/distribute/nouislider.min.css" rel="stylesheet">
    <script src="/dist/nouislider/distribute/nouislider.min.js"></script>
    <script src="/dist/chart.js/dist/Chart.min.js"></script>
</head>
<body class="bg-primary">

{{- /*gotype: TUM-Live/web.EditCourseData*/ -}}
{{template "header" .IndexData}}

<div class="text-white container mx-auto">
    <div class="min-w-screen flex items-center justify-center">
        <div class="w-full lg:w-5/6">
            <h1 class="mb-4">{{.Course.Name}}</h1>
            <label class="hidden" for="courseID">CourseID<input id="courseID" type="text" class="hidden"
                                                                value="{{.Course.Model.ID}}"></label>
            <div>
                <ul class="bg-secondary rounded">
                    {{$course := .Course}}
                    {{range $lecture := .Course.Streams }}
                        <li class="p-6 hover:bg-primary border-b-2 border-primary">
                            <div class="flex">
                                <div class="w-1/4">
                                    <div class="text-white font-semibold">{{$lecture.Start.Month}} {{printf "%02d." $lecture.Start.Day}} {{$lecture.Start.Year}}
                                        <i class="fas fa-trash hover:text-purple-500 px-2"
                                           title="Delete Lecture"
                                           onclick="deleteLecture({{$lecture.Model.ID}})"></i>
                                    </div>
                                    <div class="text-gray-300 font-sans">
                                        {{printf "%02d:%02d - %02d:%02d" $lecture.Start.Hour $lecture.Start.Minute $lecture.End.Hour $lecture.End.Minute}}
                                    </div>
                                    {{if $lecture.Recording}}
                                        <div class="font-semibold bg-success w-auto inline-block px-2 text-white rounded-full">
                                            VoD
                                        </div>
                                    {{else if $lecture.LiveNow}}
                                        <div class="font-semibold bg-danger w-auto inline-block px-2 text-white rounded-full">
                                            Live
                                        </div>
                                    {{else if $lecture.IsPast}}
                                        <div class="font-semibold bg-warn w-auto inline-block px-2 text-white rounded-full">
                                            Past
                                        </div>
                                    {{else}}
                                        <div class="font-semibold bg-info w-auto inline-block px-2 text-white rounded-full">
                                            Scheduled
                                        </div>
                                    {{end}}
                                </div>
                                <div class="w-3/4">
                                    <form onsubmit="saveLectureName(event, {{$lecture.Model.ID}})"
                                          class="w-full flex flex-row border-b-2 focus-within:border-gray-300 border-gray-500">
                                        <label for="lectureNameInput{{$lecture.Model.ID}}" class="hidden">Lecture
                                            title</label>
                                        <input id="lectureNameInput{{$lecture.Model.ID}}"
                                               onfocus="focusNameInput(this, {{$lecture.Model.ID}})"
                                               class="flex-grow border-none" type="text" value="{{$lecture.Name}}"
                                               placeholder="Lecture 2: Dark-Patterns I"
                                               autocomplete="off">
                                        <button id="nameSubmitBtn{{$lecture.Model.ID}}"
                                                class="fas fa-check ml-2 invisible hover:text-purple-500"></button>
                                    </form>
                                    <form class="w-full mt-3">
                                        <div class="w-full flex justify-center">
                                            <i onclick="toggleExtraInfos(this, {{$lecture.Model.ID}})"
                                               class="fas fa-angle-double-down hover:text-purple-500"></i>
                                        </div>
                                        <div id="extraInfos{{$lecture.Model.ID}}" class="hidden">
                                            {{if and (not $lecture.IsPast) (not $lecture.Recording)}}
                                            <p class="mt-2">
                                                <span class="font-semibold">Stream Server:</span> <span>rtmp://live.mm.rbg.tum.de:1935/stream?secret={{$lecture.StreamKey}}</span>
                                                <i class="fas fa-clipboard hover:text-purple-500"
                                                   onclick="copyToClipboard('rtmp://live.mm.rbg.tum.de:1935/stream?secret={{$lecture.StreamKey}}')"></i>
                                                <br>
                                                <span class="font-semibold">Stream Key:</span>
                                                <span>{{$course.Slug}}</span>
                                            </p>
                                            {{else if $lecture.Recording}}
                                            <p class="mt-2 flex">
                                                <a class="flex"
                                                   href="/api/download/{{$lecture.Model.ID}}/{{$course.Slug}}/{{$course.Slug}}-{{printf "%v-%02d-%04d" $lecture.Start.Month $lecture.Start.Day $lecture.Start.Year}}"
                                                   download>
                                                    <i class="fas fa-download hover:text-purple-500 px-2"
                                                       title="Download VoD"></i>
                                                </a>
                                                {{if $lecture.Stats}}
                                                    <i class="fas fa-chart-line hover:text-purple-500 px-2"
                                                       title="Live Statistics"
                                                       onclick="showStats({{$lecture.Model.ID}})"></i>
                                                {{end}}
                                            </p>
                                            <div class="hidden" id="slider{{$lecture.Model.ID}}"></div>
                                            {{if $lecture.Stats}}
                                            <div id="statsBox{{$lecture.Model.ID}}" class="hidden">
                                                <canvas id="stats{{$lecture.Model.ID}}" class="chartjs"
                                                        width="undefined" height="undefined"></canvas>
                                            </div>
                                            <script>
                                                new Chart(
                                                    document.getElementById("stats{{$lecture.Model.ID}}"), {
                                                        "type": "line", "data": {
                                                            "labels": [{{range $stat := $lecture.Stats}}"{{$stat.Time.Hour}}:{{$stat.Time.Minute}}", {{end}}],
                                                            "datasets": [{
                                                                "label": "Viewers",
                                                                "data": [{{range $stat := $lecture.Stats}}{{$stat.Viewers}}, {{end}}],
                                                                "fill": false,
                                                                "borderColor": "rgb(75, 192, 192)",
                                                                "lineTension": 0.1
                                                            }]
                                                        }, "options": {}
                                                    });
                                            </script>
                                            {{end}}
                                            {{else}}
                                            <p class="mt-2 flex">
                                                <i class="fas fa-upload hover:text-purple-500 px-2"
                                                   title="Upload VoD"></i>
                                            </p>
                                            {{end}}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    {{end}}
                    <li class="p-6 hover:bg-primary border-b-2 border-primary">
                        <div class="flex">
                            <div class="w-1/4">
                                <div class="text-white font-semibold">Create Lecture</div>
                            </div>
                            <div class="w-3/4">
                                <div class="hover:bg-primary">
                                    <label for="name">
                                        <input name="name" id="name" type="text" placeholder="L01: Binary Trees"/>
                                        <span class="hidden">Lecture Name</span>
                                    </label>

                                    <div class="flex">
                                        <label for="date" class="w-1/2">
                                            <span class="font-semibold p-2">Date</span>
                                            <input name="date" id="date" type="date"/>
                                        </label>
                                        <label for="time" class="w-1/4">
                                            <span class="font-semibold p-2">Start</span>
                                            <input name="time" id="time" type="time" step="900"/>
                                        </label>
                                        <label for="time2" class="w-1/4">
                                            <span class="font-semibold p-2">End</span>
                                            <input name="time2" id="time2" type="time" step="900"/>
                                        </label>
                                    </div>

                                    <div id="createLectureBtn" class="p-3 rounded bg-info text-center text-white">
                                        Add
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>