<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TUM Live | Edit Units</title>
    {{template "headImports"}}
    <script>window.HELP_IMPROVE_VIDEOJS = false;</script>
    <link rel="stylesheet" href="//static/node_modules/video.js/dist/video-js.min.css">
    <link rel="stylesheet" href="/static/node_modules/nouislider/distribute/nouislider.min.css">
    <script src="/static/assets/ts-dist/admin.bundle.js?v={{.IndexData.VersionTag}}"></script>
</head>
<body class="bg-primary">

{{- /*gotype: TUM-Live/tools.TUMLiveContext*/ -}}
{{template "header" .}}
{{$course := .Course}}
{{$stream := .Stream}}

<div class="text-white container mx-auto">
    <div class="min-w-screen flex items-center justify-center">
        <div class="w-full lg:w-5/6">
            <p class="text-gray-300">Reference video:</p>
            <video
                    id="my-video"
                    class="video-js w-full"
                    controls
                    muted
                    preload="auto"
                    data-setup='{"fluid": true}'>
                <source src="{{if $stream.PlaylistUrl}}{{$stream.PlaylistUrl}}{{else if $stream.PlaylistUrlPRES}}{{$stream.PlaylistUrlPRES}}{{else}}{{$stream.PlaylistUrlCAM}}{{end}}"
                        type="application/x-mpegURL"/>
                <p class="vjs-no-js">
                    To view this video please enable JavaScript.
                </p>
            </video>
            <div class="mt-4">
                <form id="cutForm" class="border-gray-300 border-t-2"
                      onkeydown="return event.key !== 'Enter';"
                      onsubmit="return admin.submitCut({{$stream.Model.ID}}, {{$stream.CourseID}})">
                    <div id="sliderNew" class="mt-4"></div>
                    <input type="submit"
                           value="Save"
                           class="bg-secondary hover:text-white text-gray-300 m-4 border-0">
                    <p class="text-gray-300">changes you make here are fully reversible. If you need something
                        permanently removed from the lecture reach out to the RBG.</p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/node_modules/video.js/dist/video.min.js"></script>
<script src="/static/node_modules/@videojs/http-streaming/dist/videojs-http-streaming.min.js"></script>
<script src="/static/node_modules/videojs-contrib-quality-levels/dist/videojs-contrib-quality-levels.min.js"></script>
<script src="/static/node_modules/videojs-hls-quality-selector/dist/videojs-hls-quality-selector.min.js"></script>
</html>
