<!DOCTYPE html>
<html lang="en" class="h-full dark">
{{- /*gotype: github.com/TUM-Dev/gocast/web.LiveLectureManagementData*/ -}}
<head>
    <meta charset="UTF-8">
    {{$stream := .IndexData.TUMLiveContext.Stream}}
    {{$course := .IndexData.TUMLiveContext.Course}}
    {{$displayName := or $stream.Name (printf "Lecture: %s %02d. %d" $stream.Start.Month $stream.Start.Day $stream.Start.Year)}}
    <title>{{.IndexData.Branding.Title}} | {{$course.Name}}: {{$displayName}}</title>
    {{template "headImports" .IndexData.VersionTag}}
    <script>window.HELP_IMPROVE_VIDEOJS = false;</script>
    <script src="/static/assets/ts-dist/watch.bundle.js?v={{.IndexData.VersionTag}}"></script>
    <script src="/static/assets/ts-dist/interaction.bundle.js?v={{.IndexData.VersionTag}}"></script>
    <link href="/static/assets/css-dist/home.css?v={{if .IndexData.VersionTag}}{{.IndexData.VersionTag}}{{else}}development{{end}}"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/node_modules/video.js/dist/video-js.min.css">
    <link rel="stylesheet" href="/static/node_modules/videojs-seek-buttons/dist/videojs-seek-buttons.css">
    <link rel="stylesheet" href="/static/node_modules/@silvermine/videojs-airplay/dist/silvermine-videojs-airplay.css">
    <link rel="stylesheet"
          href="/static/assets/css-dist/watch.css?v={{if .IndexData.VersionTag}}{{.IndexData.VersionTag}}{{else}}development{{end}}">
    {{/* Remove this when using KaTeX in other locations than the chat */}}
    {{if $stream.ChatEnabled}}
        <link rel="stylesheet" href="/static/node_modules/katex/dist/katex.min.css">
        <script defer src="/static/node_modules/katex/dist/katex.js"></script>
        <script defer src="/static/node_modules/katex/dist/contrib/auto-render.min.js"></script>
        <script defer src="/static/node_modules/katex/dist/contrib/copy-tex.min.js"></script>
    {{end}}
</head>
<body x-data="{'streamID': {{$stream.Model.ID}} }" class="w-full">
    {{template "header" .IndexData.TUMLiveContext}}
    <div class="h-full w-full flex flex-col items-center">
        <!-- Heading with Lecture and Course Name -->
        <div class="flex flex-row items-center pt-2">
            <a href="/w/{{$course.Slug}}/{{$stream.Model.ID}}"><h1 class="text-gray-900 dark:text-gray-200 mb-0">{{$stream.Name}}</h1></a>
            <span class="text-gray-900 dark:text-gray-200 mx-2">|</span>
            <a href="/?year={{$course.Year}}&term={{$course.TeachingTerm}}&slug={{$course.Slug}}&view=3"><h3 class="text-gray-800 dark:text-gray-300">{{$course.Name}}</h3></a>
        </div>

        <div class="w-full flex flex-row pt-5 pl-5">
            <!-- Video Player -->
            <div style="width: 25%; height: fit-content;">
                <video-js id="videoPlayer" class="video-js vjs-default-skin vjs-16-9"
                       preload="auto" width="640" height="360" muted autoplay
                       data-setup='{"fluid": true, "liveui": true}'
                       poster="/public/no_active_stream.jpg">
                    {{if $stream.PlaylistUrl}}
                        <source src="{{$stream.PlaylistUrl}}" type="application/x-mpegURL">
                    {{else}}
                        <source src="{{$stream.PlaylistUrlPRES}}" type="application/x-mpegURL">
                    {{end}}
                </video-js>
            </div>
        </div>

        <!-- Video Stats -->
        <script>
            watch.videoStatListener.listen();
        </script>
        <div
            x-data="{ data: { bufferSeconds: 0, videoHeight: 0, videoWidth: 0, bandwidth: 0, mediaRequests: 0, mediaRequestsFailed: 0 } }"
            x-on:newvideostats.window="e => { data = e.detail }"
            class="text-white"
        >
            <div class="flex justify-between align-middle pb-4">
                <h3>Video Stats</h3>
            </div>
            <div class="flex justify-between align-middle">
                <div>
                    <div>Resolution:</div>
                    <div>Bandwidth:</div>
                </div>
                <div class="pr-4">
                    <div class="text-right" x-text="`${data.videoWidth}x${data.videoHeight}`"></div>
                    <div class="text-right"
                         x-text="Math.round(data.bandwidth / 1000000) + ' MBit/s'"></div>
                </div>
            </div>
            <br>
            <div>Buffer:</div>
            <div class="flex justify-between align-middle">
                <div>
                    <div class="pl-2">> Buffered Time:</div>
                    <div class="pl-2">> Chunks Requested:</div>
                    <div class="pl-2">> Requests Failed:</div>
                </div>
                <div class="pr-4">
                    <div class="text-right"
                         x-text="(Math.round(data.bufferSeconds * 100) / 100) + 's'"></div>
                    <div class="text-right" x-text="data.mediaRequests"></div>
                    <div class="text-right" x-text="data.mediaRequestsFailed"></div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
