<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.IndexData.Branding.Title}} | Stream</title>
    {{template "headImports"}}
    <script src="/static/assets/ts-dist/admin.bundle.js?v={{.IndexData.VersionTag}}"></script>
</head>
<body class="bg-primary">

{{template "header" .IndexData.TUMLiveContext}}
{{$indexData := .IndexData}}
{{$course := .IndexData.TUMLiveContext.Course}}
{{$stream := .IndexData.TUMLiveContext.Stream}}
{{$token := .LivestreamToken}}
{{$url := .LivestreamUrl}}


<div x-data="{ liveStream: new admin.Livestream({{$stream.ID}}, '{{$url}}', '{{$token}}') }" class="text-white container mx-auto">
    <div class="mt-7 min-w-screen flex items-center justify-between">
        <button @click="liveStream.connect($refs.screenDisplay, $refs.camDisplay)">Connect</button>
        <button @click="liveStream.enableScreen()">Enable Screen</button>
        <button @click="liveStream.enableCam()">Enable Cam</button>
    </div>

    <div class="flex flex-col items-end mt-7">
        <div
                class="aspect-video bg-black/30 dark:bg-white/20 my-2 rounded relative min-w-full text-white overflow-hidden"
                x-ref="screenDisplay"
        >
        </div>
        <div
                class="aspect-video bg-black/30 dark:bg-white/20 my-2 rounded relative w-[320px] text-white overflow-hidden"
                x-ref="camDisplay"
        ></div>
    </div>
</div>
</body>
</html>
