<!DOCTYPE html>
<html lang="en" class="h-full">
{{- /*gotype: TUM-Live/web.WorkersPageData*/ -}}
<head>
    <meta charset="UTF-8">
    <title>TUM Live | Workers</title>
    {{template "headImports" .IndexData.VersionTag}}
</head>
<body class="bg-primary">
{{template "header" .IndexData}}

<div class="container w-full md:w-4/6">
    <h1 class="text-white">Workers:</h1>
    <table class="w-full">
        <tr class="text-white bg-secondary text-left">
            <th class="p-2">Host</th>
            <th class="p-2">Status</th>
            <th class="p-2">Workload</th>
            <th class="p-2">Actions</th>
        </tr>
        {{range $worker := .Workers}}
            <tr class="text-gray-200 odd:bg-secondary">
                <td class="p-2">{{$worker.Host}}</td>
                <td class="p-2">{{if $worker.IsAlive}}<span class="bg-success rounded-full text-gray-400">Alive</span>{{else}}<span class="bg-danger rounded-full text-gray-400">Dead</span>{{end}}{{$worker.Status}}</td>
                <td class="p-2">{{$worker.Workload}}</td>
                <td class="p-2"><i class="fas fa-trash text-gray-400 cursor-pointer hover:text-purple-500"></i></td>
            </tr>
        {{end}}
    </table>
</div>

</body>
</html>
